<template>
    <div>
        <div class="col-sm-2">
            <ul class="settings-sidebar nav nav-stacked">
                <li role="presentation">
                    <router-link to="/admin/settings/services">Услуги</router-link>
                </li>
                <li role="presentation">
                    <router-link to="/admin/settings/notifications">Рассылки</router-link>
                </li>
                <li role="presentation">
                    <router-link to="/admin/settings/sponsors">Спонсоры</router-link>
                </li>
                <li role="presentation">
                    <router-link to="/admin/settings/pages">SEO страницы</router-link>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <keep-alive>
                <router-view></router-view>
            </keep-alive>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style>
    .settings-sidebar a  {
        border-left: 5px solid white;
        color: black;
    }

    .settings-sidebar a:hover {
        border-color: #eee;
    }

    .settings-sidebar a.router-link-active {
        text-decoration: none;
        background-color: #eee;
        border-color: rgb(228, 70, 45) !important;
    }
</style>