<template>
    <div>
        <h2>Рассылки</h2>
        <hr style="border: 3px solid rgb(228, 70, 45);">
        <div class="btn-group" style="margin-bottom: 20px;">
            <button :class="type === 'email' ? 'btn-primary' : 'btn-default'" class="btn" @click="type = 'email'">Email</button>
            <button :class="type === 'sms' ? 'btn-primary' : 'btn-default'" class="btn" @click="type = 'sms'">SMS</button>
        </div>
        <component :is="component"></component>
    </div>
</template>

<script>
    import EmailNotifications from '../../components/notifications/EmailNotifications'
    import SmsNotifications from '../../components/notifications/SmsNotifications'

    export default {
        components: {
            EmailNotifications,
            SmsNotifications
        },
        data() {
            return {
                type: 'email'
            }
        },
        computed: {
            component() {
                switch (this.type) {
                    case 'sms':
                        return 'SmsNotifications';
                    default:
                        return 'EmailNotifications';
                }
            }
        }
    }
</script>