<template>
    <div v-if="pages">
        <h2>SEO страницы</h2>
        <hr style="border: 3px solid rgb(228, 70, 45);">
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>title</th>
                <th>description</th>
                <th>keywords</th>
                <th>url</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(page, index) in pages" :key="page.id">
                <td>{{ page.title }}</td>
                <td>{{ page.description }}</td>
                <td>{{ page.keywords }}</td>
                <td>{{ page.url }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" @click="edit(index)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" @click="destroy(index)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button class="btn btn-sm btn-success" @click="add">Добавить</button>
        </div>

        <modal name="edit-page" :adaptive="true" height="auto" @closed="onClosed" width="80%" :clickToClose="false"
               :scrollable="true" :pivotY="0.7">
            <div class="panel panel-default" style="margin-bottom: 0;border: none;">
                <div class="panel-heading">
                    <h4 style="margin: 0;">Редактирование страницы</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" v-model="pageToEdit.title">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" v-model="pageToEdit.description">
                    </div>
                    <div class="form-group">
                        <label>Keywords</label>
                        <input class="form-control" v-model="pageToEdit.keywords">
                    </div>
                    <div class="form-group">
                        <label>Ссылка</label>
                        <input class="form-control" v-model="pageToEdit.url">
                    </div>
                    <div class="form-group">
                        <label>Текст</label>
                        <quill-editor v-model="pageToEdit.content" :options="editorOption">
                        </quill-editor>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn-sm btn-primary" @click="save">Сохранить</button>
                        <button class="btn-sm btn-danger" @click="$modal.hide('edit-page')">Отменить</button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import Loader from '../../components/common/Loader'
    import {quillEditor} from 'vue-quill-editor'
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'


    export default {
        components: {
            Loader,
            quillEditor
        },
        data() {
            return {
                pages: null,
                pageToEdit: {
                    id: null,
                    index: null,
                    title: null,
                    url: null,
                    description: null,
                    keywords: null,
                    content: null,
                },
                editorOption: {

                }
            }
        },
        methods: {
            load() {
                this.$http.get('/api/admin/pages')
                    .then(response => {
                        this.pages = response.body.pages;
                    })
            },
            edit(index) {
                this.pageToEdit.id = this.pages[index].id
                this.pageToEdit.index = index
                this.pageToEdit.title = this.pages[index].title
                this.pageToEdit.url = this.pages[index].url
                this.pageToEdit.description = this.pages[index].description
                this.pageToEdit.keywords = this.pages[index].keywords
                this.pageToEdit.content = this.pages[index].content
                this.$modal.show('edit-page')
            },
            onClosed() {
                this.pageToEdit.id = null
                this.pageToEdit.index = null
                this.pageToEdit.title = null
                this.pageToEdit.url = null
                this.pageToEdit.description = null
                this.pageToEdit.keywords = null
                this.pageToEdit.content = null
            },
            save() {
                let params = {
                    title: this.pageToEdit.title,
                    url: this.pageToEdit.url,
                    description: this.pageToEdit.description,
                    keywords: this.pageToEdit.keywords,
                    content: this.pageToEdit.content
                };

                if (this.pageToEdit.id) {
                    this.$http.put(`/api/admin/pages/${this.pageToEdit.id}`, params)
                        .then(response => {
                            this.$set(this.pages, this.pageToEdit.index, response.body.page)
                            this.$modal.hide('edit-page')
                        })
                } else {
                    this.$http.post(`/api/admin/pages`, params)
                        .then(response => {
                            this.$set(this.pages, this.pageToEdit.index, response.body.page)
                            this.$modal.hide('edit-page')
                        })
                }
            },
            destroy(index) {
                if (this.pages[index].id) {
                    let answer = confirm('Удалить страницу?');

                    if (answer) {
                        this.$http.delete(`/api/admin/pages/${this.pages[index].id}`)
                            .then(response => {
                                if (response.body.success) {
                                    this.pages.splice(index, 1)
                                }
                            })
                    }
                } else {
                    this.pages.splice(index, 1)
                }
            },
            add() {
                this.pages.push({
                    title: '',
                    content: '',
                    url: '',
                    description: '',
                    keywords: '',
                    loading: false
                })
                this.edit(this.pages.length - 1)
            }
        },
        mounted() {
            this.load();
        }
    }
</script>