<template>
    <div v-if="blocks">
        <h2>Услуги на главной</h2>
        <hr style="border: 3px solid rgb(228, 70, 45);">
        <div v-for="(block, index) in blocks" :key="block.id" class="form">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label>Название</label>
                        <input class="form-control" v-model="block.title">
                    </div>
                    <div class="form-group">
                        <label>Ссылка</label>
                        <input class="form-control" v-model="block.url">
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label>Текст</label>
                    <textarea class="form-control" v-model="block.text" style="resize: none;" rows="5"></textarea>
                </div>
                <div class="form-group col-xs-3">
                    <template v-if="block.id && !block.loading">
                        <img :src="block.preview_url" style="max-width: 100%;">
                        <input type="file" @change="uploadImage($event, block)" style="margin-top: 20px;">
                    </template>
                    <loader v-show="block.loading"></loader>
                </div>
                <div class="col-xs-2">
                    <div class="btn-group">
                    <button class="btn btn-primary btn-sm" @click="save(index, block)">
                        Сохранить
                    </button>
                    <button class="btn btn-danger btn-sm" @click="destroy(index, block)">
                        Удалить
                    </button>
                    </div>
                </div>
            </div>
            <hr style="border: 3px solid #e4462d">
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-success" @click="add">Добавить</button>
        </div>
    </div>
</template>

<script>
    import Loader from '../../components/common/Loader'

    export default {
        components: {
            Loader
        },
        data() {
            return {
                blocks: null
            }
        },
        methods: {
            load() {
                this.$http.get('/api/admin/blocks')
                    .then(response => {
                        this.blocks = response.body.blocks;
                    })
            },
            save(index, block) {
                let params = {
                    order: block.order,
                    title: block.title,
                    url: block.url,
                    text: block.text
                };

                if (block.id) {
                    this.$http.put(`/api/admin/blocks/${block.id}`, params)
                } else {
                    this.$http.post(`/api/admin/blocks`, params)
                        .then(response => {
                            this.$set(this.blocks, index, response.body.block)
                        })
                }
            },
            destroy(index, block) {
                if (block.id) {
                    let answer = confirm('Удалить услугу?');

                    if (answer) {
                        this.$http.delete(`/api/admin/blocks/${block.id}`)
                            .then(response => {
                                if (response.body.success) {
                                    this.blocks.splice(index, 1)
                                }
                            })
                    }
                } else {
                    this.blocks.splice(index, 1)
                }
            },
            uploadImage(e, block) {
                this.$set(block, 'loading', true);

                let formData = new FormData();

                formData.append('image', e.target.files[0]);

                this.$http.post(`/api/admin/blocks/${block.id}/image`, formData)
                    .then(response => {
                        block.preview_url = response.body.url;
                        this.$set(block, 'loading', false)
                    });
            },
            add() {
                this.blocks.push({
                    order: (this.blocks.length ? (this.blocks[this.blocks.length - 1].order + 1) : 1),
                    title: '',
                    text: '',
                    url: '',
                    loading: false
                })
            }
        },
        mounted() {
            this.load();
        }
    }
</script>