<template>
    <div v-if="sponsors">
        <h2>Спонсоры</h2>
        <hr style="border: 3px solid rgb(228, 70, 45);">
        <div v-for="(sponsor, index) in sponsors" :key="sponsor.id" class="form">
            <div class="row">
                <div class="col-xs-7">
                    <div class="form-group">
                        <label>Название</label>
                        <input class="form-control" v-model="sponsor.name">
                    </div>
                    <div class="form-group">
                        <label>Ссылка</label>
                        <input class="form-control" v-model="sponsor.url">
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <template v-if="sponsor.id && !sponsor.loading">
                        <img :src="sponsor.preview_url" style="max-width: 100%;max-height: 120px;">
                        <input type="file" @change="uploadImage($event, sponsor)" style="margin-top: 20px;">
                    </template>
                    <loader v-show="sponsor.loading"></loader>
                </div>
                <div class="col-xs-2">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" @click="save(index, sponsor)">
                            Сохранить
                        </button>
                        <button class="btn btn-danger btn-sm" @click="destroy(index, sponsor)">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
            <hr style="border: 3px solid #e4462d">
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-success" @click="add">Добавить</button>
        </div>
    </div>
</template>

<script>
    import Loader from '../../components/common/Loader'

    export default {
        components: {
            Loader
        },
        data() {
            return {
                sponsors: null
            }
        },
        methods: {
            load() {
                this.$http.get('/api/admin/sponsors')
                    .then(response => {
                        this.sponsors = response.body.sponsors;
                    })
            },
            save(index, sponsor) {
                let params = {
                    name: sponsor.name,
                    url: sponsor.url,
                };

                if (sponsor.id) {
                    this.$http.put(`/api/admin/sponsors/${sponsor.id}`, params)
                } else {
                    this.$http.post(`/api/admin/sponsors`, params)
                        .then(response => {
                            this.$set(this.sponsors, index, response.body.sponsor)
                        })
                }
            },
            destroy(index, sponsor) {
                if (sponsor.id) {
                    let answer = confirm('Удалить спонсора?');

                    if (answer) {
                        this.$http.delete(`/api/admin/sponsors/${sponsor.id}`)
                            .then(response => {
                                if (response.body.success) {
                                    this.sponsors.splice(index, 1)
                                }
                            })
                    }
                } else {
                    this.sponsors.splice(index, 1)
                }
            },
            uploadImage(e, sponsor) {
                this.$set(sponsor, 'loading', true);

                let formData = new FormData();

                formData.append('image', e.target.files[0]);

                this.$http.post(`/api/admin/sponsors/${sponsor.id}/image`, formData)
                    .then(response => {
                        sponsor.preview_url = response.body.url;
                        this.$set(sponsor, 'loading', false)
                    });
            },
            add() {
                this.sponsors.push({
                    name: '',
                    url: '',
                    loading: false
                })
            }
        },
        mounted() {
            this.load();
        }
    }
</script>