<template>
    <div>
        <h3>Информация о серии турниров NW TOUR</h3>
        <p>
            Серия турниров по пляжному волейболу Russian Nord West beach volley tour (Российский северо-западный тур по
            пляжному волейболу),
            проводится для создания в Санкт-Петербурге единой системы соревнований по пляжному волейболу с единой
            рейтингом и единым уровнем
            качества проведения турниров. Серия турниров предоставляет возможности спортсменам-любителям повышать свое
            спортивное
            мастерство и совмещать отдых с активными занятиями спортом.
        </p>
        <p>
            Турниры разбиты на категории. Участник сам определяет свой уровень и подает заявку. Также существуют
            ограничения по участию в турнирах.
            Цель подобного ограничения – не допускать сильных спортсменов в слабые турниры, то есть максимально уровнять
            участников.
        </p>
        <p>
            <span>Категория PRO</span> – для профи и полупрофи пляжного волейбола. Каждый турнир с призовыми деньгами.
            Победитель категории по итогам сезона получает 10 000 рублей.
        </p>
        <p>
            <span>Категория А</span> – для крепких любителей и игроков хорошего среднего уровня.
            Победители и призеры каждого турнира получают ценные призы и подарки от спонсоров, партнеров и
            организаторов.
            Победитель категории по итогам сезона получает ценный приз от спонсора и 8 000 рублей.
        </p>
        <p>
            <span>Категория В</span> – для тех, кто только начинает участвовать в турнирах и для любителей среднего
            уровня.
            Победители и призеры получают ценные призы и подарки от спонсоров, партнеров и организаторов.
            Победитель категории по итогам сезона получает ценный приз от спонсора.
        </p>
        <h3>Как подать заявку:</h3>
        <ul>
            <li>
                <span>Шаг 1.</span>
                Каждый участник должен <a href="/register">зарегистрироваться</a> на сайте, чтобы создать свой профиль.
                В профиле отображается информация о всех сыгранных этим игроком турнирах, его результаты и партнеры.
            </li>
            <li>
                <span>Шаг 2.</span> Заполнить поля заявки и выбрать категорию. Для заполнения заявки нужен только e-mail
                игрока,
                который он указывал в регистрации. Система автоматически идентифицирует игрока.
            </li>
            <li>
                <span>Шаг 3.</span> Оплатить заявочный взнос не позднее указанного срока. Оплатить можно на сайте с
                помощью банковской карты,
                Яндекс кошелька и прочих инструментов, а также наличными организаторам, но не позднее указанного срока.
            </li>
        </ul>

        <iframe  src="https://www.youtube.com/embed/VKp5vuOz5Xk"></iframe>
    </div>
</template>

<script>
    export default {}
</script>