<template>
    <div>
        <table class="table table-striped">
            <thead></thead>
            <tbody>
            <tr v-for="tour in tours">
                <td>{{ tour.title }}</td>
                <td>{{ tour.localeDate }}</td>
                <td>
                    <router-link :to="`/nwtour/${tour.id}`">открыть</router-link>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tours: [],
                loading: false
            }
        },
        methods: {
            load() {
                this.loading = true;
                this.$http.get('/api/front/tours', {
                        params: {
                            filters: {
                                current: 1
                            }
                        }
                    })
                    .then(response => {
                        this.tours = response.body.tours
                    }, response => {

                    })
                    .finally(() => {
                        this.loading = false
                    })
            }
        },
        mounted() {
            this.load()
        }
    }
</script>