<template>
    <div class="container">
        <ul class="nav nav-pills nav-justified" style="margin: 20px 0;">
            <li :class="{active: $route.path === '/nwtour'}">
                <router-link to="/nwtour">Календарь</router-link>
            </li>
            <li :class="{active: $route.path === '/nwtour/ratings'}">
                <router-link to="/nwtour/ratings">Рейтинг</router-link>
            </li>
            <li :class="{active: $route.path === '/nwtour/about'}">
                <router-link to="/nwtour/about">О NWTour</router-link>
            </li>
            <li :class="{active: $route.path === '/nwtour/archive'}">
                <router-link to="/nwtour/archive">Архив</router-link>
            </li>
        </ul>

        <hr>

        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    .nav-pills>li>a {
        width: 70%;
        margin: auto;
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff !important;
        background-color: #e4462d;
        border-radius: 27px;
    }

    .nav>li>a:focus, .nav>li>a:hover {
        border-radius: 27px;
    }
</style>