<template>
    <div>
        <select class="form-control" v-model="selectedCategory">
            <option v-for="category in user_categories" :value="category.id">
                {{ category.label }}
            </option>
        </select>
        <select class="form-control" v-model="selectedGender">
            <option v-for="gender in genders" :value="gender.name">
                {{ gender.label }}
            </option>
        </select>
        <table class="table">
            <tr v-for="user in filtered_users">
                <td>
                    {{ user.fullname }}
                </td>
                <td>
                    {{ user.yearly_rating }}
                </td>
                <td>
                    {{ user.seasonal_rating }}
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import {groupBy, orderBy} from 'lodash'

    export default {
        computed: {
            filtered_users() {
                let users = this.users.filter(u => {
                    return u.category_id === this.selectedCategory
                        && u.gender === this.selectedGender;
                });

                return orderBy(users, ['seasonal_rating', 'yearly_rating'], ['desc', 'desc'])
            },
            user_categories() {
                return [
                    {id: 1, label: 'PRO'},
                    {id: 2, label: 'A'},
                    {id: 3, label: 'B'},
                    {id: 4, label: 'C'},
                ]
            },
            genders() {
                return [
                    {name: 'male', label: 'Мужчины'},
                    {name: 'female', label: 'Женщины'},
                ]
            }
        },
        data() {
            return {
                users: [],
                selectedCategory: 1,
                selectedGender: 'male'
            }
        },
        methods: {
            load() {
                this.$http.get('/api/front/users', {
                        params: {
                            has_rating: 1
                        }
                    })
                    .then(response => {
                        this.users = response.body.users
                    })
            }
        },
        mounted() {
            this.load()
        }
    }
</script>