<template>
    <div class="container" v-if="tour">
        <h2>
            {{ tour.title }}
            <small>{{ tour.localeDate }}</small>
        </h2>
        <div class="orange-divider"></div>
        <div v-html="tour.description"></div>
    </div>
</template>

<script>
    export default {
        props: {
            tour_id: {}
        },
        watch: {
            tour_id() {
                this.load()
            }
        },
        data() {
            return {
                tour: null
            }
        },
        methods: {
            load() {
                this.loading = true;
                this.$http.get(`/api/front/tours/${this.tour_id}`)
                    .then(response => {
                        this.tour = response.body.tour
                    }, response => {

                    })
                    .finally(() => {
                        this.loading = false
                    })
            }
        },
        mounted() {
            this.load();
        }
    }
</script>