<template>
    <div>
        <loader v-show="loading"></loader>
        <div class="form-horizontal" v-show="!loading" v-if="tour">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Название</label>
                    <div class="col-sm-10">
                        <input type="text" v-model="tour.title" class="form-control" placeholder="Название этапа"
                               autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Описание</label>
                    <div class="col-sm-10">
                        <quill-editor v-model="tour.description"
                                      :options="editorOption">
                        </quill-editor>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Статус</label>
                    <div class="col-sm-10">
                        <tour-status-select v-model="tour.status"></tour-status-select>
                    </div>
                </div>

                <hr>

                <div class="col-sm-6" style="padding: 0;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Дата начала</label>
                        <div class="col-sm-8">
                            <datepicker :monday-first="true" language="ru" v-model="tour.start_date" class="form-control"></datepicker>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" style="padding: 0;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Широта</label>
                        <div class="col-sm-8">
                            <input type="text" v-model="tour.latitude" class="form-control" placeholder="30,321"
                                   autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" style="padding: 0;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Дата конца</label>
                        <div class="col-sm-8">
                            <datepicker :monday-first="true" language="ru" v-model="tour.end_date" class="form-control"></datepicker>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" style="padding: 0;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Долгота</label>
                        <div class="col-sm-8">
                            <input type="text" v-model="tour.longitude" class="form-control" placeholder="60,123"
                                   autocomplete="off">
                        </div>
                    </div>
                </div>

                <hr style="clear: both">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Проводимые категории</label>

                    <div class="col-sm-10">
                        <tournament-category-select v-model="categories"></tournament-category-select>
                    </div>
                </div>

                <hr>

                <div class="pull-right btn-group">
                    <button class="btn btn-info" :disabled="disabled" @click="save">Сохранить</button>
                    <router-link to="/admin/tours" class="btn btn-default">Отмена</router-link>
                </div>
            </fieldset>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker'
    import TournamentCategorySelect from '../../../components/selects/TournamentCategorySelect'
    import TourStatusSelect from '../../../components/selects/TourStatusSelect'
    import moment from 'moment'
    import {map, cloneDeep} from 'lodash'
    import Loader from '../../../components/common/Loader'
    import { quillEditor } from 'vue-quill-editor'

    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'

    export default {
        components: {
            quillEditor,
            Datepicker,
            TournamentCategorySelect,
            TourStatusSelect,
            Loader
        },
        props: {
            value: {
                required: true
            }
        },
        watch: {
            value() {
                this.tour = cloneDeep(this.value);
                this.categories = map(this.value.tournaments, 'category');
            }
        },
        computed: {
            disabled() {
                return !this.tour.title
                    || !this.tour.description
                    || !this.tour.end_date
                    || !this.tour.start_date
                    || !this.tour.latitude
                    || !this.tour.longitude
                    || !this.tour.status
                    || !this.categories.length
            }
        },
        data() {
            return {
                categories: map(this.value.tournaments, 'category'),
                tour: cloneDeep(this.value),
                loading: false,
                editorOption: {}
            }
        },
        methods: {
            save() {
                this.loading = true;
                this.$http.put(`/api/admin/tours/${this.tour.id}`, {
                        title: this.tour.title,
                        description: this.tour.description,
                        start_date: moment(this.tour.start_date).format('YYYY-MM-DD'),
                        end_date: moment(this.tour.end_date).format('YYYY-MM-DD'),
                        latitude: this.tour.latitude,
                        longitude: this.tour.longitude,
                        status: this.tour.status,
                        categories: map(this.categories, c => c.id)
                    })
                    .then(response => {
                        if (response.body.success) {
                            this.$emit('input', response.body.tour);
                        }
                    })
                    .finally(() => this.loading = false)
            }
        },

    }
</script>

<style>
    .vdp-datepicker input {
        border: none;
        width: 100%;
    }
</style>