<template>
    <div>
        <div class="alert alert-danger text-center" v-if="!tournament" style="margin-bottom: 0;">Некорректный id турнира</div>
        <div v-else>
            <div class="form-horizontal">
                <fieldset>
                    <legend>{{ tournament.category.fullname}}</legend>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Сумма взноса</label>
                        <div class="col-sm-10">
                            <input v-model.number="tournament.contribution" type="number" class="form-control" placeholder="Взнос турнира">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Лимит команд</label>
                        <div class="col-sm-10">
                            <input v-model.number="tournament.limit" type="number" class="form-control" placeholder="Ограничение кол-ва команд">
                        </div>
                    </div>

                    <div class="btn-group pull-right">
                        <button class="btn btn-info" :disabled="disabled" @click="save">Сохранить</button>
                    </div>
                </fieldset>

                <hr>

                <div class="fl" v-if="tournament.teams.length">
                    <div class="fl-40">
                        <h3 style="margin: 20px 0;">Заявки ({{ confirmed_teams.length }}/{{ tournament.teams.length }})</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" @change="toggleAll">
                                    </th>
                                    <th>#</th>
                                    <th>Игроки</th>
                                    <th v-if="tournament.contribution">Взнос</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(team, index) in tournament.teams"  :class="{info: !!team.rank}">
                                    <td>
                                        <input type="checkbox" v-model="selectedTeams" :disabled="team.category_id" :value="team.id">
                                    </td>
                                    <td>{{ index + 1 }}</td>
                                    <td v-html="players(team)"></td>
                                    <td v-if="tournament.contribution">
                                        <a :href="`/admin/payments/${team.payment.id}`" v-if="team.payment && team.payment.is_confirmed">{{ team.payment.id }}</a>
                                        <span class="text-success" v-else-if="team.is_paid">
                                            Наличка
                                            <button class="btn btn-xs btn-danger" @click="updateIsPaid(team)" style="margin-left: 5px;">
                                                <i class="fa fa-credit-card"></i>
                                            </button>
                                        </span>
                                        <span class="text-warning" v-else>
                                            Не оплачен
                                            <button class="btn btn-xs btn-info ml-5" @click="updateIsPaid(team)" v-show="!limit_exceeded">
                                                <i class="fa fa-credit-card"></i>
                                            </button>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-primary btn-xs" @click="editTeam(team, index)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button class="btn btn-danger btn-xs" @click="deleteTeam(team, index)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="fl-10">
                        <select class="form-control" v-model="selectedCategory">
                            <option v-for="category in result_categories" :value="category.id">
                                {{ category.fullname }}
                            </option>
                        </select>
                        <div class="btn-group col-xs-12" style="padding: 0;margin-top: 10px;">
                            <button class="btn btn-default col-xs-6" @click="unrank" :disabled="!categorizedSelectedTeams.length">
                                <i class="fa fa-arrow-left"></i>
                            </button>
                            <button class="btn btn-default col-xs-6" @click="rank" :disabled="!selectedTeams.length">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
    
                    <div class="fl-40">
                        <h3 style="margin: 20px 0;">Результаты ({{ tournament.teams.filter(t => !!t.rank).length }})</h3>
                        <div v-for="(category, index) in result_categories">
                            <h5>{{ category.fullname }} <template v-if="categorized_teams[category.id]">({{ categorized_teams[category.id].length }})</template></h5>
                            <table class="table table-striped table-bordered" v-show="categorized_teams[category.id] && categorized_teams[category.id].length">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" @change="toggleAllCategorized($event, category.id)">
                                        </th>
                                        <th>Место</th>
                                        <th>Игроки</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="team in categorized_teams[category.id]" :key="team.id">
                                        <td>
                                            <input type="checkbox" :value="team.id" v-model="categorizedSelectedTeams">
                                        </td>
                                        <td>
                                            <select class="form-control" v-model="team.rank" @change="updateRank(team)">
                                                <option v-for="i in categorized_teams[category.id].length">
                                                    {{ i }}
                                                </option>
                                            </select>
                                        </td>
                                        <td v-html="players(team)"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr v-if="index !== result_categories.length - 1">
                        </div>
                    </div>
                </div>
                <div v-else class="alert alert-info text-center" style="margin-bottom: 0">
                    Нет заявленных команд
                </div>
            </div>
        </div>

        <modal name="edit-team" :adaptive="true" height="auto" @closed="onClosed">
            <div class="panel panel-default" style="margin-bottom: 0;border: none;">
                <div class="panel-heading">
                    <h4 style="margin: 0;">Замена в команде</h4>
                </div>
                <div class="panel-body">
                    <div v-for="(user, i) in usersToEdit" class="form-group">
                        <user-select v-model="usersToEdit[i]"></user-select>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn-sm btn-primary" @click="updateUsers">Сохранить</button>
                        <button class="btn-sm btn-danger" @click="$modal.hide('edit-team')">Отменить</button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import {orderBy, groupBy, map} from 'lodash'
    import UserSelect from '../../../components/common/UserSelect'

    export default {
        components: {
            UserSelect
        },
        props: {
            tournament_id: {
                type: String
            },
            value: {},
        },
        watch: {
            tournament_id() {
                this.selectedCategory = this.result_categories[0].id
            }
        },
        computed: {
            tournament() {
                return this.value.tournaments.find(t => t.id === parseInt(this.tournament_id));
            },
            tournament_categories() {
                return this.$store.state.tournamentCategories.all;
            },
            result_categories() {
                return orderBy(this.tournament_categories.filter(t => {
                    return t.gender === this.tournament.category.gender
                        && t.team_size === this.tournament.category.team_size
                }), c => c.id !== this.tournament.category.id)
            },
            disabled() {
                return this.loading
            },
            categorized_teams() {
                return groupBy(orderBy(this.tournament.teams.filter(t => !!t.category_id), 'rank'), 'category_id');
            },
            not_categorized_teams() {
                return this.tournament.teams.filter(t => !t.rank)
            },
            confirmed_teams() {
                return this.tournament.teams.filter(t => this.isConfirmed(t))
            },
            limit_exceeded() {
                return this.tournament.limit && this.confirmed_teams.length >= this.tournament.limit;
            }
        },
        data() {
            return {
                loading: false,
                teamToEdit: null,
                teamIndexToEdit: null,
                usersToEdit: [],
                selectedTeams: [],
                categorizedSelectedTeams: [],
                selectedCategory: this.value.tournaments.find(t => t.id === parseInt(this.tournament_id))
                    ? this.value.tournaments.find(t => t.id === parseInt(this.tournament_id)).category.id
                    : null
            }
        },
        methods: {
            toggleAll(e) {
                if (e.target.checked) {
                    this.selectedTeams = map(this.not_categorized_teams, 'id')
                } else {
                    this.selectedTeams = [];
                }
            },
            toggleAllCategorized(e, category_id) {
                if (e.target.checked) {
                    this.categorizedSelectedTeams = map(this.categorized_teams[category_id], 'id')
                } else {
                    this.categorizedSelectedTeams = [];
                }
            },
            rank() {
                this.selectedTeams.forEach(team_id => {
                    let index = this.tournament.teams.findIndex(t => t.id === team_id);

                    if (index !== -1) {
                        this.tournament.teams[index].category_id = this.selectedCategory;
                    }
                });

                this.selectedTeams = [];
            },
            unrank() {
                this.categorizedSelectedTeams.forEach(team_id => {
                    let index = this.tournament.teams.findIndex(t => t.id === team_id);

                    if (index !== -1) {
                        this.tournament.teams[index].category_id = null;
                        this.tournament.teams[index].rank = null;

                        this.updateRank(this.tournament.teams[index]);
                    }
                });

                this.categorizedSelectedTeams = [];
            },
            isConfirmed(team) {
                return team.is_paid
                    ? true
                    : (
                        this.tournament.contribution
                            ? (team.payment && team.payment.is_confirmed)
                            : true
                    )
            },
            save() {
                this.$http.put(`/api/admin/tournaments/${this.tournament.id}`, {
                        limit: this.tournament.limit,
                        contribution: this.tournament.contribution
                    })
                    .then(response => {
                        if (response.body.success) {

                        } else {

                        }
                    })
            },
            updateRank(team) {
                this.$http.put(`/api/admin/teams/${team.id}`, {
                        category_id: team.category_id,
                        rank: team.rank
                    })
                    .then(response => {

                    }, response => {

                    })
            },
            updateIsPaid(team) {
                team.is_paid = !team.is_paid;
                this.$http.put(`/api/admin/teams/${team.id}`, {
                        is_paid: team.is_paid
                    })
                    .then(response => {
                        if (!response.body.success) {
                            team.is_paid = !team.is_paid
                        }
                    }, response => {
                        team.is_paid = !team.is_paid
                    })
            },
            onClosed() {
                this.teamToEdit = null;
                this.teamIndexToEdit = null;
                this.usersToEdit = [];
            },
            updateUsers() {
                if (!this.teamToEdit) return;
                if (this.usersToEdit.includes(null)) return;

                this.$http.put(`/api/admin/teams/${this.teamToEdit.id}/users`, {
                        user_ids: this.usersToEdit.map(u => u.id)
                    })
                    .then(response => {
                        if (response.body.success) {
                            this.$modal.hide('edit-team');
                            this.tournament.teams[this.teamIndexToEdit].users = response.body.users;
                        }
                    }, response => {
                    })
            },
            editTeam(team, index) {
                this.teamToEdit = team;
                this.teamIndexToEdit = index;
                this.usersToEdit = [];

                team.users.forEach(u => {
                    this.usersToEdit.push({
                        id: u.id,
                        label: u.surname + ' ' + u.name
                    });
                });

                this.$modal.show('edit-team');
            },
            deleteTeam(team, index) {
                let result = confirm('Удалить команду ' + map(team.users, u => u.surname).join('/') + '?');

                if (result) {
                    this.loading = true;
                    this.$http.delete(`/api/admin/teams/${team.id}`)
                        .then(response => {
                            this.tournament.teams.splice(index, 1)
                        }, response => {

                        })
                        .finally(() => this.loading = false)
                }
            },
            players(team) {
                let players = [];

                team.users.forEach(u => {
                    players.push(`<a href="/profile/${u.id}">${u.surname}</a>`);
                });

                return players.join('/');
            }
        },
        mounted() {
            this.$store.dispatch('tournamentCategories/init')
        }
    }
</script>

<style>
    .fl {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fl-40 {
        align-self: start;
        flex-basis: 40%;
    }
    .fl-10 {
        align-self: start;
        margin-top: 100px;
        flex-basis: 10%;
    }

    .v--modal-box.v--modal {
        overflow: visible;
    }
</style>