<template>
  <div class="calculator">
    <div class="ui divider"></div>
    <div class="ui form large">
      <div class="row">
        <div class="field required">
          <label>Выберите тип посещения:</label>
          <div class="ui three column grid">
            <div class="column field" v-for="type in subscriptionTypes">
              <div class="ui radio checkbox">
                <input :id="'type-' + type.id" type="radio" name="subscription_type" tabindex="0" class="hidden"
                  v-bind:value="type" v-model="selectedSubscriptionType"
                >
                <label :for="'type-' + type.id">
                  {{ type.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="row">
        <div class="field required">
          <label class="header">Выберите дни посещения:</label>
          <div class="grouped fields">
            <div class="field" v-for="training in orderedByWeekday(group.trainings)">
              <div>
                <div class="ui checkbox">
                  <input :id="'day-' + training.id" type="checkbox" tabindex="0" class="hidden"
                    v-bind:value="training" v-model="selectedTrainings" @click="countPrice"
                  >
                  <label :for="'day-' + training.id" @click="countPrice">
                    {{ days[training.weekday] }}
                    <span class="time">
                      ({{ training.start_time }} - {{ training.end_time }})
                    </span>
                    <span class="price" v-show="'id' in selectedSubscriptionType">
                      <span class="value">{{ training.subscription_types[selectedSubscriptionType.id].pivot.price }}</span> руб.
                    </span>
                  </label>
                </div>
                <span class="ui image right floated" style="top: 10px;font-size:.8em;">
                  <a class="coach-link" :href="'/coach/' + training.coach.id">{{ training.coach.name }}
                    <div class="ui right spaced coach-avatar avatar image"
                      v-bind:style="{ backgroundImage: 'url(' + training.coach.preview_url + ')' }"
                    ></div>
                  </a>
                </span>
                <div>
                  <img class="ui image location-icon" :src="training.location.icon">
                  <span style="font-size:.8em">{{ training.location.short_name }}</span>
                  <span class="interval">{{ training.location.interval }}</span>
                </div>
              </div>

              <calendar
                v-on:dayToggled="updateSelectedDates"
                :training-id="training.id"
                :subscription-type-id="selectedSubscriptionType.id"
                v-show="'id' in selectedSubscriptionType && selectedTrainings.indexOf(training) !== -1"
              ></calendar>

              <div class="ui divider"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui form big">
      <div class="two fields" v-show="price" style="text-align: center;">
        <div class="field">
          <div class="ui blue horizontal statistic">
            <div class="value">
              {{ trainingsCount }}
            </div>
            <div class="label">
              {{ trainingWord }}
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui blue horizontal statistic">
            <div class="value">
              {{ price }}
            </div>
            <div class="label">
              руб.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui divider" v-show="price"></div>

    <div class="ui checkbox">
      <input id="agreement" type="checkbox" v-model="agreement">
      <label for="agreement">
        Тренировка предварительно согласована с администратором клуба, в противном случае наличие мест не гарантировано.
      </label>
    </div>

    <div class="ui divider"></div>

    <form method="POST" class="ui form" action="/payment/training">
      <div style="text-align: center">
        <button class="ui primary big button" :class="{'disabled': !price || !agreement}">
          <i class="payment icon"></i>
          Перейти к оплате
        </button>
      </div>

      <input type="hidden" :value="selectedSubscriptionType.id" name="subscription_type_id" v-if="'id' in selectedSubscriptionType">
      <template v-for="(dates, id) in selectedDates" v-if="selectedTrainingsHas(id)">
        <input type="hidden" :value="date" :name="'trainings[' + id + '][]'" v-for="date in dates">
      </template>

      <div class="ui divider"></div>

      <slot></slot>
    </form>
  </div>
</template>

<script>
  import calendar from './Calendar.vue'

  export default {

    components: {
      calendar: calendar
    },

    props: {
      groupId: Number
    },

    data() {
      return {
        group: {},
        subscriptionTypes: {},
        days: ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье'],
        selectedSubscriptionType: {},
        selectedTrainings: [],
        selectedDates: {},
        price: 0,
        trainingsCount: 0,
        agreement: false
      }
    },

    watch: {
      selectedTrainings: function (val) {
        this.countPrice();
      }
    },

    methods: {
      fetchSubscriptionTypes() {
        this.$http.get('/api/trainings/subscription-types')
          .then((response) => {
            this.subscriptionTypes = response.body;
            this.selectedSubscriptionType = this.subscriptionTypes[1];
          });
      },
      fetchGroup() {
        this.$http.get('/api/trainings/group/' + this.groupId)
          .then((response) => {
            this.group = response.body;
          });
      },
      orderedByWeekday(arr) {
        if (typeof arr  !== 'undefined') {
          return arr.slice().sort(function(a, b) {
            return a.weekday > b.weekday ? 1 : -1;
          });
        }
      },
      updateSelectedDates(training_id, dates) {
        this.selectedDates[training_id] = dates;
        this.countPrice();
      },
      countPrice() {
        let _price = 0;
        let _trainingsCount = 0;

        for (let i = 0; i < this.selectedTrainings.length; i++) {
          if (this.selectedTrainings[i].id in this.selectedDates) {
            _price += this.selectedDates[this.selectedTrainings[i].id].length
              * this.selectedTrainings[i].subscription_types[this.selectedSubscriptionType.id].pivot.price;
            _trainingsCount += this.selectedDates[this.selectedTrainings[i].id].length;
          }
        }

        this.price = _price;
        this.trainingsCount = _trainingsCount;
      },
      selectedTrainingsHas(id) {
        return !!this.selectedTrainings.find((training) => {
          return training.id == id;
        });
      }
    },

    computed: {
      trainingWord() {
        let trainingsCount = this.trainingsCount;

        if (trainingsCount % 10 == 1 && trainingsCount % 100 != 11) {
          return 'тренировка';
        } else if (
          trainingsCount % 10 >= 2 &&
          trainingsCount % 10 <= 4 &&
          (trainingsCount % 100 < 10 || trainingsCount % 100 >= 20)
        ) {
          return 'тренировки';
        } else {
          return 'тренировок';
        }
      }
    },

    mounted() {
      if (!Array.prototype.find) {
          Array.prototype.find = function(predicate) {
              if (this === null) {
                  throw new TypeError('Array.prototype.find called on null or undefined');
              }
              if (typeof predicate !== 'function') {
                  throw new TypeError('predicate must be a function');
              }
              let list = Object(this);
              let length = list.length >>> 0;
              let thisArg = arguments[1];
              let value;

              for (let i = 0; i < length; i++) {
                  value = list[i];
                  if (predicate.call(thisArg, value, i, list)) {
                      return value;
                  }
              }
              return undefined;
          };
      }

      this.fetchSubscriptionTypes();
      this.fetchGroup();
    }
  }
</script>

<style>
  .ui.calendar {
    margin-top: 1em;
    clear: both;
  }
  .coach-avatar {
    background-size: cover;
    margin-left: 6px !important;
  }
  label span.time {
    margin-left: .3em;
    color: #a9a9a9;
    font-size: .85em;
  }
  label span.price {
    margin-left: .3em;
    font-size: .85em;
  }
  label span.price .value {
    color: #2185D0;
  }
  label.header {
    margin-bottom: 2em !important;
  }
  .accordion {
    font-size: .8em !important;
  }
  .form.large .divider {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .three.column.grid {
    margin: .4em .4em -1em;
  }
  @media (max-width: 768px) {
    .three.column.grid {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .interval {
    font-size: .7em;
    margin-left: .3em;
    color: #a9a9a9;
  }
  a.coach-link {
    color:black;
    text-decoration: underline;
  }
  label[for=agreement] {
    font-size: .9em !important;
    color: #a9a9a9 !important;
  }
  label[for=agreement]:hover {
    cursor: pointer;
  }
</style>