<template>
  <div class="ui calendar">
    <div class="calendar" tabindex="0">
      <div class="ui stackable grid">
        <div class="eight wide column">
          <table class="ui celled center aligned unstackable table seven column day">
            <thead>
              <tr>
                <th colspan="7">
                  <span class="capitalize">{{ current.left.name }}</span>
                  <span class="prev link"  @click="prev()" v-bind:class="{ disabled: !current.hasPrev }">
                    <i class="chevron left icon"></i>
                  </span>
                </th>
              </tr>
              <tr><th>Пн</th><th>Вт</th><th>Ср</th><th>Чт</th><th>Пт</th><th>Сб</th><th>Вс</th></tr>
            </thead>
            <tbody>
              <tr v-for="week in current.left.weeks">
                <td v-for="day in week" class="link" @click="toggleDay(day)"
                  v-bind:class="{
                    disabled: day.disabled,
                    selected: day.selected,
                    active: selectedDates.indexOf(day.date) !== -1 && !day.disabled
                  }"
                >
                  {{ day.day }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="eight wide column">
          <table class="ui celled center aligned unstackable table seven column day">
            <thead>
              <tr>
                <th colspan="7">
                  <span class="capitalize">{{ current.right.name }}</span>
                  <span class="next link" @click="next()" v-bind:class="{ disabled: !current.hasNext }">
                    <i class="chevron right icon"></i>
                  </span>
                </th>
              </tr>
              <tr><th>Пн</th><th>Вт</th><th>Ср</th><th>Чт</th><th>Пт</th><th>Сб</th><th>Вс</th></tr>
            </thead>
            <tbody>
              <tr v-for="week in current.right.weeks">
                <td v-for="day in week" class="link" @click="toggleDay(day)"
                  v-bind:class="{
                    disabled: day.disabled,
                    selected: day.selected,
                    active: selectedDates.indexOf(day.date) !== -1 && !day.disabled
                  }"
                >
                  {{ day.day }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

    props: {
      trainingId: Number,
      subscriptionTypeId: Number
    },

    mounted() {
      this.fetchCalendar();
    },

    watch: {
      subscriptionTypeId: function (val) {
        this.fetchCalendar();
      }
    },

    data() {
      return {
        current: {
          left: {},
          right: {},
          hasPrev: false,
          hasNext: false,
          index: 0
        },
        full: {},
        selectedDates: []
      }
    },

    methods: {
      fetchCalendar() {
        this.$http.get('/api/trainings/' + this.trainingId + '/calendar?subscription_type_id=' + this.subscriptionTypeId)
          .then((response) => {
            this.full = response.body;
            this.current = {
              left: this.full[0],
              right: this.full[1],
              hasPrev: false,
              hasNext: true,
              leftIndex: 0
            };
            this.fillSelected();
          });
      },
      prev() {
        if (this.current.index <= 0) return;
        this.current.leftIndex--;
        this.current.right = this.current.left;
        this.current.left = this.full[this.current.leftIndex];
        this.current.hasPrev = this.current.leftIndex > 0;
      },
      next() {
        if (typeof this.full[this.current.leftIndex + 2] === 'undefined') {
          let year = this.current.right.year;
          let month = this.current.right.month + 1;

          if (month === 13) {
            month = 1;
            year++;
          }

          // Противодействие многократному нажатию
          this.current.hasNext = false;

          this.$http.get('/api/trainings/' + this.trainingId + '/calendar?year=' + year + '&month=' + month)
            .then((response) => {
              this.full = this.full.concat(response.body);
              let newLeftIndex = this.current.leftIndex + 1;
              this.current = {
                left: this.full[newLeftIndex],
                right: this.full[newLeftIndex + 1],
                hasPrev: true,
                hasNext: true,
                leftIndex: newLeftIndex
              }
            });

          return;
        }

        this.current.leftIndex++;
        this.current.left = this.current.right;
        this.current.right = this.full[this.current.leftIndex + 1];
        this.current.hasPrev = true;
      },
      toggleDay(day) {
        if (day.selected) {
          return;
        }

        let index = this.selectedDates.indexOf(day.date);

        if (index === -1) {
          this.selectedDates.push(day.date);
        } else {
          this.selectedDates.splice(index, 1);
        }

        this.$emit('dayToggled', this.trainingId, this.selectedDates);
      },
      fillSelected() {
        this.selectedDates = [];

        for (let i = 0; i < this.full.length; i++) {
          for (let j = 0; j < this.full[i].weeks.length; j++) {
            for (let k = 0; k < 7; k++) {
              if (this.full[i].weeks[j][k].selected) {
                this.selectedDates.push(this.full[i].weeks[j][k].date);
              }
            }
          }
        }

        this.$emit('dayToggled', this.trainingId, this.selectedDates);
      }
    }
  }
</script>

<style>
  table.ui.table td.selected {
    background-color: #959595!important;
  }
  td.selected:hover {
    cursor: not-allowed !important;
  }
  .capitalize {
    text-transform: capitalize;
  }
</style>