<template>
    <section id="trainings-apply">
        <div class="container" v-show="!loading && !message">
            <div class="row text-center">
                <div class="header">
                    Записаться в лагерь
                </div>
                <div class="orange-divider"></div>
            </div>
            <form class="row apply-form">
                <div class="col-sm-5 col-sm-offset-1">
                    <input v-model="name" class="form-control" placeholder="ФИО">
                    <input v-model="email" class="form-control" placeholder="Email">
                    <input v-model="phone" class="form-control" placeholder="Телефон">
                </div>
                <div class="col-sm-5">
                    <textarea placeholder="Уровень игры" v-model="comment" class="form-control" style="height: 188px;"></textarea>
                </div>
            </form>
            <div class="row text-center">
                <button class="btn btn-primary" :disabled="!name || !email || !phone" @click="apply">Записаться</button>
            </div>
        </div>
        <spinner :size="50" :line-size="7" line-fg-color="#e4462d" v-show="loading" style="margin-bottom: 30px; margin-top: 30px;"></spinner>
        <div :class="message_class" class="alert text-center" v-text="message" v-show="message"></div>
    </section>
</template>

<script>
    import Spinner from 'vue-simple-spinner'

    export default {
        components: {
            Spinner
        },
        props: {
            camp_id: {
                required: true,
                type: Number
            }
        },
        data() {
            return {
                name: null,
                email: null,
                phone: null,
                comment: null,
                message: null,
                message_class: null,
                loading: false
            }
        },
        methods: {
            apply() {
                this.loading = true;
                this.$http.post('/api/camps/application', {
                    camp_id: this.camp_id,
                    name: this.name,
                    email: this.email,
                    phone: this.phone,
                    comment: this.comment
                }).then(() => {
                    this.message_class = 'alert-info';
                    this.message = 'Ваша заявка успешно отправлена!';
                    this.loading = false;
                }, () => {
                    this.message_class = 'alert-danger';
                    this.message = 'Произошла ошибка, попробуйте позднее.';
                    this.loading = false;
                })
            }
        }
    }
</script>

<style scoped>
    .alert {
        width: 60%;
        margin: 30px auto;
    }
</style>