<template>
    <div class="col-xs-12 col-sm-6 chart" :id="type"></div>
</template>

<script>
    export default {
        props: {
            type: String
        },

        methods: {
            fetchData() {
                this.$http.get('/api/chart/' + this.type).then((response) => {
                    Highcharts.chart(this.type, {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: response.body.chart_title
                        },
                        yAxis: {
                            title: {
                                text: response.body.yAxis_title
                            }
                        },
                        xAxis: {
                            categories: response.body.xAxis_categories
                        },
                        series: response.body.series,
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                            }
                        },
                    });
                });
            }
        },

        mounted() {
            this.fetchData();
        }
    }
</script>

<style>
    .chart {
        height: 300px;
    }
</style>