<template>
  <div>
    <div class="row" v-if="internal_photos.length">
      <div class="col-md-4" v-for="(photo, index) in internal_photos">
        <div class="delete-photo" @click="deletePhoto(photo.id, index)">
          <i class="fa fa-times pull-right" aria-hidden="true"></i>
        </div>

        <a :href="photo.url" data-lightbox="photos">
          <img class="col-md-12" :src="photo.url">
        </a>
      </div>
    </div>
    <div class="alert warning-danger" v-else>
      Нет фотографий
    </div>
  </div>
</template>

<script>
  export default {

    props: {
      photos: Array,
      path: String,
    },

    // q. The prop is used to only pass in an initial value, the child component simply
    // wants to use it as a local data property afterwards;
    // a. Define a local data property that uses the prop’s initial value as its initial value;
    data() {
      return {
        internal_photos: this.photos
      }
    },

    methods: {
      deletePhoto(id, index) {
        this.$http.delete(this.path + id).then(() => {
          this.internal_photos.splice(index, 1);
        });
      }
    }
  };
</script>

<style>
  .delete-photo {
    position: absolute;
    right: 30px;
    z-index: 2;
    background-color: white;
    padding-right: 3px;
    padding-bottom: 2px;
  }
  .delete-photo:hover {
    cursor: pointer;
    background-color: #EEE;
  }
  a img {
    max-width: 100%;
  }
</style>