<template>
  <div class="table-responsive schedule-component">
    <table class="table table-celled">
      <thead>
        <tr>
          <th v-for="(day, i) in days">
            {{ day }}
            <i class="fa fa-plus-circle" aria-hidden="true" @click="addTraining(i)"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td v-for="(day, i) in trainingDays">
            <div v-for="(training, j) in day" class="well well-sm">
              <div class="row invisible">
                  <i class="fa fa-edit text-info pull-left" @click="editTraining(training)"></i>
                  <i class="fa fa-trash text-danger pull-right" @click="deleteTraining(training, i)"></i>
              </div>

              <div>{{ training.start_time }} - {{ training.end_time }}</div>
              <div>{{ coaches[training.coach_id] }}</div>
              <div>
                <span v-for="type in training.subscription_types">
                  {{ type.pivot.price }}
                </span>
              </div>

              <input type="hidden" v-model="training.id"
                :name="'schedules[' + location + '][' + i + '][' + j + '][id]'"
              >
              <input type="hidden" v-model="training.weekday"
                :name="'schedules[' + location + '][' + i + '][' + j + '][weekday]'"
              >
              <input type="hidden" v-model="training.start_time"
                :name="'schedules[' + location + '][' + i + '][' + j + '][start_time]'"
              >
              <input type="hidden" v-model="training.end_time"
                :name="'schedules[' + location + '][' + i + '][' + j + '][end_time]'"
              >
               <input type="hidden" v-model="training.coach_id"
                :name="'schedules[' + location + '][' + i + '][' + j + '][coach_id]'"
              >
              <input type="hidden" v-for="type in training.subscription_types" v-model="type.pivot.price"
                :name="'schedules[' + location + '][' + i + '][' + j + '][subscription_types][' + type.id + ']'">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div :class="'modal modal-' + location">
      <div class="modal-dialog" v-if="editable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Редактирование тренировки</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="start_time" class="col-md-3 control-label">Начало тренировки</label>
                <div class="col-md-9">
                  <input type="text" placeholder="09:00" v-model="editable.start_time" class="form-control" id="start_time">
                </div>
              </div>
              <div class="form-group">
                <label for="end_time" class="col-md-3 control-label">Конец тренировки</label>
                <div class="col-md-9">
                  <input type="text" placeholder="09:00" v-model="editable.end_time" class="form-control" id="end_time">
                </div>
              </div>
              <div class="form-group">
                <label for="coach" class="col-md-3 control-label">Тренер</label>
                <div class="col-md-9">
                  <select id="coach" v-model="editable.coach_id" class="form-control">
                    <option v-for="(name, id) in coaches" :value="id">
                      {{ name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group" v-for="type in subscriptionTypes">
                <label class="col-md-3 control-label">{{ type.name }}</label>
                <div class="col-md-9">
                  <input type="text" placeholder="800" class="form-control"
                    v-model="editable.subscription_types[type.id].pivot.price"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="saveTraining">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

    props: {
      location: Number,
      group: Number,
      coaches: Object,
      subscriptionTypes: Object
    },

    data() {
      return {
        // название дней
        days: ['пн','вт','ср','чт','пт','сб','вс'],
        // тренировочные дни
        trainingDays: Array(7).fill([]),
        editable: null,
        modal: null
      }
    },

    methods: {
      fetchTrainingDays() {
        this.$http.get('/api/trainings?group=' + this.group + '&location=' + this.location)
          .then((response) => {
            this.trainingDays = response.body;
          });
      },
      addTraining(i) {
        var subscription_types = this.subscriptionTypes;

        for (var id in subscription_types) {
          subscription_types[id].pivot = {
            price: ''
          }
        }

        this.trainingDays[i].push({
          weekday: i,
          subscription_types: subscription_types
        });
      },
      deleteTraining(training, i) {
        var index = this.trainingDays[i].indexOf(training);

        if (typeof(training.id) == 'undefined') {
          this.trainingDays[i].splice(index, 1);
        } else {
          this.$http.delete('/api/trainings/' + training.id)
            .then((response) => {
              this.trainingDays[i].splice(index, 1);
            });
        }
      },
      editTraining(training) {
        this.editable = training;

        this.modal.modal({
          backdrop: 'static'
        });
      },
      saveTraining() {
        this.modal.modal('hide');
        this.editable = null;
      }
    },

    // загружаем тренировки
    mounted() {
      this.modal = $('.modal-' + this.location);
      this.fetchTrainingDays();
    }
  };
</script>

<style>
  .schedule-component table thead th {
    width:14.2857142857%;
    text-align: center;
  }
  .schedule-component table tbody .well {
    font-size: 12.5px;
  }
  .schedule-component table tbody .well .row {
    margin: 0;
  }
  .schedule-component table i:hover {
    cursor: pointer;
  }
  .schedule-component table tbody .well:hover .row.invisible {
    visibility: visible;
  }
  .schedule-component table tbody .well div {
    text-align: center;
  }
  .schedule-component table tbody .well div span {
    margin: 0 3px;
  }
</style>