<template>
    <section id="trainings-apply">
        <div class="container" v-show="!loading && !message">
            <div class="row text-center">
                <div class="header">
                    Записаться на тренировку
                </div>
                <div class="orange-divider"></div>
            </div>
            <form class="row apply-form">
                <div class="col-sm-6 col-sm-offset-2">
                    <!--<input v-model="name" class="form-control" placeholder="ФИО">-->
                    <!--<input v-model="email" class="form-control" placeholder="Email">-->
                    <input v-model="phone" class="form-control" placeholder="Телефон">
                </div>
                <div class="col-sm-2 text-center">
                    <button class="btn btn-primary apply-btn" :disabled="!phone" @click="apply" style="margin-top: 0;padding: 15px 25px;">Записаться</button>
                    <!--<select class="form-control" v-model="group">-->
                        <!--<option value="" selected>Выберите группу</option>-->
                        <!--<option v-for="group in groups" v-text="group.name" :value="group.id"></option>-->
                    <!--</select>-->
                    <!--<textarea placeholder="Пожелания к тренировкам" v-model="comment" class="form-control"></textarea>-->
                </div>
            </form>
            <!--<div class="row text-center">-->
                <!--<button class="btn btn-primary" :disabled="!phone" @click="apply">Записаться</button>-->
            <!--</div>-->
        </div>
        <spinner :size="50" :line-size="7" line-fg-color="#e4462d" v-show="loading" style="margin-bottom: 30px; margin-top: 30px;"></spinner>
        <div :class="message_class" class="alert text-center" v-text="message" v-show="message"></div>
    </section>
</template>

<script>
    import Spinner from 'vue-simple-spinner'

    export default {
        components: {
            Spinner
        },
        props: {
            groups: {
                type: Array,
                required: true,
            },
            group_id: {
                required: false
            }
        },
        data() {
            return {
                name: null,
                email: null,
                phone: null,
                group: this.group_id,
                comment: null,
                message: null,
                message_class: null,
                loading: false
            }
        },
        methods: {
            apply() {
                yaCounter31562248.reachGoal('footer_apply_click');

                this.loading = true;
                this.$http.post('/api/training/application', {
                    // name: this.name,
                    // email: this.email,
                    phone: this.phone,
                    // comment: this.comment,
                    // group: this.group
                }).then(() => {
                    this.message_class = 'alert-info';
                    this.message = 'Ваша заявка успешно отправлена!';
                    this.loading = false;
                }, () => {
                    this.message_class = 'alert-danger';
                    this.message = 'Произошла ошибка, попробуйте позднее.';
                    this.loading = false;
                })
            }
        }
    }
</script>

<style scoped>
    .alert {
        width: 60%;
        margin: 30px auto;
    }

    @media (max-width: 768px) {
        #trainings-apply .apply-btn {
            margin-top: 10px !important;
        }
    }
</style>