<template>
    <v-select v-model="user"
              :options="options"
              @search="search"
              @input="onInput"
              placeholder="ФИО/Email"
    >
        <template slot="no-options">&nbsp;</template>
    </v-select>
</template>

<script>
    import vSelect from 'vue-select'
    import {debounce} from 'lodash'

    export default {
        components: {
            vSelect
        },
        props: {
            value: {},
            gender: {}
        },
        watch: {
            value() {
                this.user = this.value
            }
        },
        data() {
            return {
                user: this.value,
                options: []
            }
        },
        methods: {
            search(search) {
                this.$http.get('/api/front/users/search', {
                        before(request) {
                            if (this.previous_request) {
                                this.previous_request.abort();
                            }

                            this.previous_request = request;
                        },
                        params: {
                            search,
                            gender: this.gender
                        }
                    })
                    .then(response => {
                        this.options = response.body.users;
                    })
            },
            onInput() {
                this.$emit('input', this.user);
            }
        }
    }
</script>

<style>
    .v-select input[type=search] {
        border: none !important;
    }
</style>