body
  background rgb(255, 255, 255)

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4
  font-family 'Scada', 'Roboto', 'Helvetica', 'Arial', sans-serif
  font-weight 400

.str-truncated
  display inline-block
  max-width 60%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  vertical-align top

.text-middle
  display inline-block
  vertical-align middle

.text-middle
  .material-icons
    vertical-align middle

.table-middle td, .table-middle th
  vertical-align middle !important
  font-size 16px

.card-number
  color rgb(51, 51, 51)
  font-size 32px

.nav-tabs > li.active > a
  background-color: rgba(255,255,255,.3) !important
  border-radius(0)

.alert p
  margin 0

a[data-lightbox]:hover
  text-decoration none

.errors-row
  margin 0

@media only screen and (min-width: 650px)
  .users-nav
    display inline-block

  .users-download
    float right

.table-small-padding>tbody>tr>td
  padding 4px 0

.daterangepicker th.month
  text-align center
  
.daterangepicker .available:hover
  cursor pointer

.ml-5
  margin-left 5px

.mr-5
  margin-right 5px

.mb-5
  margin-bottom 5px

.mt-5
  margin-top 5px