<template>
    <div v-if="group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style="margin: 0;">{{ group.name }}</h4>
            </div>
            <div class="panel-body">
                <template v-for="training in group.trainings">
                    {{ training.formatted_name }}
                    {{ training.location.short_name }}<br>
                    <span style="font-size: 13px;">{{ training.coach.name }}</span>
                    <table class="table table-bordered table-striped" style="table-layout: fixed;    margin-top: 5px;">
                        <thead>
                            <tr>
                                <th class="text-center" v-for="date in training.closest_dates">
                                    {{ date }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td v-for="date in training.closest_dates">
                                    <ol style="margin-bottom: 0;font-size: 12px;padding-left: 10px;">
                                       <li v-for="user_training in training.user_trainings[date]" style="line-height: 24px;">
                                           {{ user_training.user.fullname }}
                                           <button class="btn btn-danger btn-xs pull-right">x</button>
                                       </li>
                                    </ol>
                                    <div class="text-center" style="margin: 4px;">
                                        <button class="btn btn-success btn-xs">
                                            Добавить
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            group_id: {
                required: true
            }
        },
        watch: {
            group_id() {
                this.load();
            }
        },
        data() {
            return {
                group: null
            }
        },
        methods: {
            load() {
                this.loading = true;
                this.$http.get(`/api/admin/trainings/group/${this.group_id}`)
                    .then(response => {
                        this.group = response.body.group;
                    })
                    .finally(() => {
                        this.loading = false;
                    })
            }
        },
        mounted() {
            this.load();
        }
    }
</script>