<template>
    <div>
        <div v-for="group in groups" class="col-sm-4 group-block">
            <div style="border: 2px solid black; width: 100%;height: 50px;line-height: 50px;">
                <router-link :to="`/admin/vue-trainings/groups/${group.id}`">{{ group.name }} ({{ group.trainings_count }})</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        watch: {

        },
        data() {
            return {
                groups: [],
                date: moment(new Date).format('YYYY-MM-DD')
            }
        },
        methods: {
            loadGroups() {
                this.$http.get('/api/admin/lib/training-groups')
                    .then(response => {
                        this.groups = response.body.training_groups;
                    })
            }
        },
        mounted() {
            this.loadGroups();
        }
    }
</script>

<style>
    .group-block {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 20px;
        min-height: 80px;
    }

    @media (max-width: 1170px) {
        .group-block {
            font-size: 14px;
        }
    }
</style>