<template>
    <v-select v-model="selected"
              :options="categories"
              @input="onChange"
              :multiple="multiple"
              label="fullname"
              :closeOnSelect="!multiple"
    ></v-select>
</template>

<script>
    import vSelect from 'vue-select'

    export default {
        components: {
            vSelect
        },
        props: {
            value: {},
            multiple: {
                default: true
            }
        },
        watch: {
            value() {
                this.selected = this.value;
            }
        },
        computed: {
            categories() {
                return this.$store.state.tournamentCategories.all;
            }
        },
        data() {
            return {
                selected: this.value
                    ? this.value
                    : (this.multiple ? [] : null)
            }
        },
        methods: {
            onChange(val) {
                this.$emit('input', val)
            }
        },
        mounted() {
            this.$store.dispatch('tournamentCategories/init')
        }
    }
</script>