<template>
    <select class="form-control" v-model="selected" @change="onChange">
        <option v-for="(label, value) in options" :value="value">
            {{ label }}
        </option>
    </select>
</template>

<script>
    import vSelect from 'vue-select'

    export default {
        components: {
            vSelect
        },
        props: {
            value: {}
        },
        watch: {
            value() {
                this.selected = this.value
            }
        },
        computed: {
            options() {
                return this.$store.state.tourStatuses.all;
            }
        },
        data() {
            return {
                selected: this.value ? this.value : null
            }
        },
        methods: {
            onChange(e) {
                this.$emit('input', e.target.value)
            }
        },
        mounted() {
            this.$store.dispatch('tourStatuses/init')
        }
    }
</script>