.hidden.menu {
    display: none !important;
}

.menu {
    font-family: 'Roboto slab' !important;
}

.masthead.segment {
    min-height: 700px;
    padding: 0em !important;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.6em;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 3.5em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p,
.ui.vertical.stripe li {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 4em 0em !important;
}

.topmenu.menu .toc.item {
    display: none !important;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .topmenu.menu .item,
    .topmenu.menu .menu {
        display: none !important;
    }
    .topmenu.menu .toc.item {
        display: block !important;
    }
    .topmenu.menu .toc.item:before {
            background: none;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
    border-left: none;
}

.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > .footer {
    flex: 1;
}

.segments.package:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu .item:last-of-type {
    background-color: #e0e1e2;
}

.event-header, .event-header:after {
    -ms-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    background-color: #000000;
    background-image: url(/image/background.jpg) !important;
}

.event-header .logo {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
    margin: auto;
}

.transparent {
    background: white;
    opacity: .9;
    margin-bottom: 1rem !important;
}

.coaches.cards .card .image {
    max-height: 400px;
    overflow: hidden;
}

.chevron.icon.big {
    cursor: pointer;
    margin: 0;
}

#contacts {
    background-image: url(/image/background.jpg) !important;
    background-position: 50% 50%;
}

#reviews .column.one {
    padding: 0;
}

#info .container {
    font-size: 1.2rem;
}

#future .card {
    width: 100%;
}

#future .card .header {
    display: inline-block;
}

#future .card .meta {
    display: inline-block;
}

#future .card .image {
    max-height: 300px;
    overflow: hidden;
}

#past .card .image {
    max-height: 205px;
    overflow: hidden;
}

#past .card {
    margin-left: 1px;
    margin-bottom: 2px;
    margin-top: 1px;
}

.camp-gallery a:hover {
    opacity: 0.4;
}

.fixed-panel {
    position: fixed;
    bottom: 40%;
    right: -70px;
    z-index: 3;
    transform: rotate(-90deg);
}

.fixed-panel .button {
    font-size: 1.2rem !important;
}

.camp-header {
    background: url('/image/04_1920x375.jpg') !important;
    width: 100%;
    padding: 0 !important;
    background-size: cover !important;
}

.camp-header>div {
    padding-top: 19.53%;
}

@media(max-width:480px) {
    .camp-header {
        background: url('/image/04_480x94.jpg') !important;
        background-size: cover !important;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .camp-header {
        background: url('/image/04_768x150.jpg') !important;
        background-size: cover !important;
    }
}

@media(max-width:1024px) and (min-width:769px) {
    .camp-header {
        background: url('/image/04_1024x200.jpg') !important;
        background-size: cover !important;
    }
}

@media(max-width:1280px) and (min-width:1025px) {
    .camp-header {
        background: url('/image/04_1280x250.jpg') !important;
        background-size: cover !important;
    }
}

.footer .copyright {
    padding-top: 1em;
}

.vk svg, .fb svg, .in svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}

.vk:hover svg,
.fb:hover svg,
.in:hover svg {
    fill: #ffd400;
    cursor: pointer;
}

.vk, .fb, .in {
    display: inline-block;
    margin: 0 5px;
}

.camp-content img {
    max-width: 100% !important;
    height: auto;
}