.hidden.menu {
    display: none !important;
}

.menu {
    font-family: 'Roboto slab' !important;
}

.masthead.segment {
    min-height: 700px;
    padding: 0em !important;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.6em;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 5em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p,
.ui.vertical.stripe li {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 4em 0em !important;
}

.topmenu.menu .toc.item {
    display: none !important;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .topmenu.menu .item,
    .topmenu.menu .menu {
        display: none !important;
    }
    .topmenu.menu .toc.item {
        display: block !important;
    }
    .topmenu.menu .toc.item:before {
            background: none;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
    border-left: none;
}

.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > .footer {
    flex: 1;
}

.segments.package:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#packages, #contacts {
    background-image: url(/image/background.jpg) !important;
    background-position: 50% 50%;
}

.menu .item:last-of-type {
    background-color: #e0e1e2;
}

.form.feedback .field label {
    text-align: left;
}

.portfolio-gallery a:hover,
.locations-season .images .image:hover,
.trainings .image:hover {
    opacity: 0.4;
}

.locations-season {
    border-bottom: none !important;
    padding: 1em 0 !important;
}

.locations-season .container {
    background: white;
    border-radius: 5px;
}

.locations-season h1.header {
    margin-bottom: .3em !important;
    margin-top: .3em !important;
}

#portfolio .chevron.left,
#portfolio .chevron.right {
    cursor: pointer;
    margin: 0;
}

#feedback::after {
    background: url('/image/3.jpg');
}

#info .container.text {
    background-image: url(/image/container_background.png);
    border-radius: 5px;
    padding: 1.5rem 1rem;
}

#info::after {
    background: url('/image/5.jpg');
    background-position-y: 25%;
}

#info::after,
#feedback::after {
  content: "";
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#feedback .container {
    background-image: url(/image/container_background.png);
    border-radius: 5px;
    padding: 1.5rem 1rem;
}

.trainings {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    background: url('/image/wov.png') !important;
}

.trainings h2.header {
    font-size: 2.5rem;
}

.trainings .container.text {
    background: white;
    border-radius: 5px;
    padding: 1.5rem 2rem;
}

.fixed-panel {
    position: fixed;
    bottom: 40%;
    right: -60px;
    z-index: 3;
    transform: rotate(-90deg);
}

.transparent {
    background: white;
    opacity: .9;
    margin-bottom: 1rem !important;
}

.portfolio-cards .card {
    margin-left: 1px;
}

.portfolio-cards .owl-stage-outer {
    padding-left: 2px;
    width: calc(100% + 4px);
}

.event-header {
    background: url('/image/events_1920x375.jpg') !important;
    width: 100%;
    padding: 0 !important;
    background-size: cover !important;
}

.event-header>div {
    padding-top: 19.53%;
}

@media(max-width:480px) {
    .event-header {
        background: url('/image/events_480x94.jpg') !important;
        background-size: cover !important;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .event-header {
        background: url('/image/events_768x150.jpg') !important;
        background-size: cover !important;
    }
}

@media(max-width:1024px) and (min-width:769px) {
    .event-header {
        background: url('/image/events_1024x200.jpg') !important;
        background-size: cover !important;
    }
}

@media(max-width:1280px) and (min-width:1025px) {
    .event-header {
        background: url('/image/events_1280x250.jpg') !important;
        background-size: cover !important;
    }
}

.footer .copyright {
    padding-top: 1em;
}
.vk svg, .fb svg, .in svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}
.vk:hover svg,
.fb:hover svg,
.in:hover svg {
    fill: #ffd400;
    cursor: pointer;
}
.vk, .fb, .in {
    display: inline-block;
    margin: 0 5px;
}