@font-face {
    font-family: GothamPro;
    src: url("/front/fonts/GothaProReg.otf") format("opentype");
}

@font-face {
    font-family: GothamPro;
    font-weight: bold;
    src: url("/front/fonts/GothaProBol.otf") format("opentype");
}

@font-face {
    font-family: GothamPro;
    font-style: italic;
    src: url("/front/fonts/GothaProIta.otf") format("opentype");
}

@font-face {
    font-family: GothamPro;
    font-weight: bold;
    font-style: italic;
    src: url("/front/fonts/GothaProBolIta.otf") format("opentype");
}

@font-face {
    font-family: GothamPro;
    font-weight: 500;
    src: url("/front/fonts/GothaProMed.otf") format("opentype");
}

@font-face {
    font-family: GothamPro;
    font-weight: 300;
    src: url("/front/fonts/GothaProLig.otf") format("opentype");
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #c6d2d7;
}

.footer>div {
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    flex-wrap: wrap;
}

html {
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
    font-family: GothamPro, sans-serif;
    color: #12285d;
    overflow-x: hidden;
}

h1 {
    color: #1b1d7d;
    font-size:50px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

h5 {
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    display: inline;
}

a {
    color: #585858 !important;
}

a:hover {
    color: #12285d !important;
}

.btn:not(.btn-link) {
    border-radius: 27px;
    border: none;
    color: #fff !important;
}

.btn-link {
    color: #337ab7 !important;
}

.btn-primary {
    background-color: #1b1d7d;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus  {
    background-color: #1b1d7d;
    opacity: .8;
    color: #fff !important;
}

.btn-warning {
    background-color: #e4462d;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:active:focus {
    background-color: #e4462d;
    opacity: .8;
    color: #fff !important;
}

.navbar .container-fluid {
    padding: 0;
}

.no-padding {
    padding: 0 !important;
}

.navbar-brand {
    padding-left: 30px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar .navbar-collapse>ul.navbar-nav>li span.last {
    text-decoration: underline;
    font-size: 12px;
}

.navbar-default {
    background: white;
}

@media (min-width: 768px) {
    .fixer {
        width: 1px;
        height: 35px;
    }

    .navbar .navbar-collapse>ul.navbar-nav>li .icon:not(:last-child) {
        margin-right: 10px;
    }

    .navbar .navbar-collapse>ul.navbar-nav>li .icon:last-child {
        margin-left: 10px;
    }

    .navbar .col-sm-95-perc,
    .navbar .col-sm-95-perc .navbar-collapse,
    .navbar .col-sm-95-perc .navbar-collapse .navbar-nav {
        padding: 0;
    }

    .no-md-padding {
        padding: 0 !important;
    }

    .navbar-collapse>.nav.navbar-nav>li {
        width: 20%;
        border-left: 1px solid #c6d2d7;
        text-align: center;
    }

    .navbar .navbar-collapse>ul.navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-justify-content: center;
        -webkit-align-items: center;
    }

    .navbar .navbar-collapse>ul.navbar-nav>li>a span {
        text-align: left;
        line-height: 1.07;
    }

    .navbar .navbar-collapse>ul.navbar-nav>li>a {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-justify-content: center;
        -webkit-align-items: center;
    }

    .col-sm-5-perc {
        width: 5%;
    }

    .col-sm-95-perc {
        width: 95%;
    }

    .navbar>.container-fluid {
        display: flex;
    }
}

@media (max-width: 885px) and (min-width: 768px) {
    .navbar {
        font-size: 11px;
    }

    .navbar .navbar-collapse>ul.navbar-nav>li span.last {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar ul.navbar-nav li .icon {
        display: none;
    }

    .navbar-header {
        padding-right: 10px;
    }

    .footer>div {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        text-align: center;
    }

    .footer>div>div {
        line-height: 30px;
    }
}

.footer .copyright,
.footer .phone {
    font-weight: 300;
}

.footer .phone span,
.footer .phone a {
    font-weight: bold;
    color: #12285d !important;
}

.footer .email a {
    font-weight: 300;
    color: #e4462d !important;
    text-decoration: underline;
}

.icon.whistle {
    background: url(/front/icons/whistle.svg) no-repeat;
}

.icon.corporate {
    background: url(/front/icons/corporate.svg) no-repeat;
}

.icon.camps {
    background: url(/front/icons/camps.svg) no-repeat;
}

.icon.trophy {
    background: url(/front/icons/trophy.svg) no-repeat;
}

.icon.door {
    background: url(/front/icons/door.svg) no-repeat;
}

.icon.logo {
    background: url(/front/icons/logo.svg) no-repeat;
}

.icon.sun {
    background: url(/front/icons/sun.svg) no-repeat;
    height: 31px;
    min-width: 31px;
    display: inline-block;
}

.icon.snow {
    background: url(/front/icons/snow.svg) no-repeat;
    height: 28px;
    min-width: 31px;
    display: inline-block;
}

.icon.wallet {
    background: url(/front/icons/wallet.svg) no-repeat;
    height: 18px;
    display: inline-block;
}

.navbar .icon.whistle {
    height: 35px;
    padding-right: 46px;
}

.navbar .icon.corporate {
    height: 35px;
    padding-right: 35px;
}

.navbar .icon.camps {
    height: 35px;
    padding-right: 24px;
}

.navbar .icon.trophy {
    height: 35px;
    padding-right: 26.4px;
}

.navbar .icon.door {
    height: 35px;
    padding-right: 20px;
}

.navbar .icon.logo {
    height: 35px;
    padding-right: 30px;
}

.navbar-nav>li:hover>a>.icon.whistle {
    background: url(/front/icons/whistle_colored.svg) no-repeat;
}

.navbar-nav>li:hover>a>.icon.corporate {
    background: url(/front/icons/corporate_colored.svg) no-repeat;
}

.navbar-nav>li:hover>a>.icon.camps {
    background: url(/front/icons/camps_colored.svg) no-repeat;
}

.navbar-nav>li:hover>a>.icon.trophy {
    background: url(/front/icons/trophy_colored.svg) no-repeat;
}

.navbar-nav>li:hover>a>.icon.door {
    background: url(/front/icons/door_colored.svg) no-repeat;
}

#preload {
    display: none;
}

.header {
    font-size: 35px;
    line-height: 45px;
    color: #1b1d7d;
}

.sub-header {
    color: #282979;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.info {
    color: #535353;
    font-size: 15px;
    line-height: 20px;
    margin-top: 15px;
}

.default-text {
    color: #282978;
    font-size: 15px;
    line-height: 26px;
}

.muted-text {
    color: #7b7b7b;
    line-height: 21px;
    font-size: 14px;
}

.grey-divider {
    background-color: #c6d2d7;
    width: 1px;
    height: 43px;
    display: inline-block;
}

.orange-divider {
    width: 58px;
    height: 3px;
    background-color: #e4462d;
    margin-top: 20px;
}

.text-center .orange-divider {
    margin: 20px auto 40px;
}

.schedule .panel {
    margin-top: 0 !important;
    border-left: 1px solid #c6d2d7;
    border-right: 1px solid #c6d2d7;
    border-top: 1px solid #c6d2d7;
    border-bottom: none;
    border-radius: 0;
}

.schedule .panel:last-of-type {
    border-bottom: 1px solid #c6d2d7;
}

.schedule .panel-heading {
    transition: .5s;
    background-color: inherit;
    align-self: center;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule .panel-heading h4 {
    transition: .5s;
    font-size: 23px;
    line-height: 36px;
    color: #e4462d;
    margin: 0;
    padding-left: 40px;
    font-weight: normal;
}

.schedule .panel-collapse,
.schedule .fake-toggle[aria-expanded=true] + .panel {
    background: #fafafa;
}

.schedule h4:not(.collapsed) ,
.schedule .schedule-cell h4 {
    color: #1b1d7d;
    margin: 0;
    font-weight: normal;
}

.schedule .circle:hover,
.schedule .panel-heading h4 {
    cursor: pointer;
}

.schedule h4.collapsed + div>.btn-pay,
.schedule h4.collapsed + div>.btn-pay:hover,
.schedule h4.collapsed + div>.btn-pay:focus,
.schedule h4.collapsed + div>.btn-pay:active,
.schedule h4.collapsed + div>.btn-pay:active:focus {
    background-color: #1b1d7d;
}

.schedule h4:not(.collapsed) + div>.btn-pay,
.schedule h4:not(.collapsed) + div>.btn-pay:hover,
.schedule h4:not(.collapsed) + div>.btn-pay:focus,
.schedule h4:not(.collapsed) + div>.btn-pay:active,
.schedule h4:not(.collapsed) + div>.btn-pay:active:focus {
    background-color: #e4462d;
}

.schedule .btn-pay:hover,
.schedule .btn-pay:focus,
.schedule .btn-pay:active,
.schedule .btn-pay:active:focus {
    opacity: .8;
    color: #fff !important;
}

.schedule .circle:not(.collapsed) {
    background-color: #e4462d;
}

.schedule .circle:not(.collapsed) .arrow {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    top: 12px;
}

.schedule .schedule-row {
    display: flex;
    flex-wrap: wrap;
}

.schedule .schedule-cell:first-child {
    width: 30%;
    padding-left: 30px;
}

.schedule .schedule-cell {
    height: 120px;
    border-top: 1px solid #c6d2d7;
    border-right: 1px solid #c6d2d7;
    width: 10%;
    display: flex;
    align-items: center;
}

.schedule .schedule-cell:not(:first-child) {
    color: #2a2a2a;
    font-size: 13px;
    justify-content: space-around;
    flex-direction: column;
}

.schedule .schedule-cell:last-child {
    border-right: none;
}

.schedule .panel-heading .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    top: 7px;
    transition: .5s;
}

.schedule .circle {
    transition: .5s;
    min-width: 33px;
    height: 33px;
    background-color: #1b1d7d;
    border-radius: 50px;
    margin-right: 20px;
    text-align: center;
}

.schedule .schedule-cell .location-text {
    position: relative;
    top: 5px;
    left: 10px;
}

.schedule .schedule-cell span {
    font-size: 14px;
    color: #7b7b7b;
    line-height: 21px;
}

.schedule-weekdays {
    display: flex;
}

.schedule-weekdays>div:first-of-type {
    width: 30%;
}

.schedule-weekdays>div:not(:first-of-type) {
    width: 10%;
    text-align: center;
    font-size: 15px;
    color: #e4462d;
    line-height: 26px;
}

.coaches {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.coaches a {
    text-decoration: none;
}

.coach {
    box-shadow: 0 4px 21px 0 rgba(0, 0, 0, 0.17);
    width: 24%;
    margin-top: 20px;
}

.coach .text-block {
    padding: 18px;
}

@media (max-width: 700px) {
    .coach {
        width: 48%;
        margin-bottom: 20px;
    }
}

@media (max-width: 1000px) and (min-width: 701px) {
    .coach {
        width: 31%;
        margin-bottom: 20px;
    }
}

.coach .name {
    color: #12285d;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
}

.coach .description {
    color: #a6a6a6;
    font-size: 14px;
    line-height: 19px;
}

.coach .image {
    background-size: cover;
    width: 100%;
    padding-top: 105%;
}

.apply-form textarea {
    height: 121px;
    resize: none;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 17px;
}

@media (max-width: 768px) {
    .apply-form select {
        margin-top: 13px;
    }

    .apply-form textarea {
        margin-top: 13px;
    }
}

.apply-form input,
.apply-form select {
    border-radius: 27px;
    border: solid 1px #c6d2d7;
    height: 54px;
    font-size: 17px;
    padding-left: 24px;
}

.apply-form input:not(:last-of-type),
.apply-form select {
    margin-bottom: 13px;
}

#trainings-apply .btn-primary {
    padding: 10px 25px;
    font-size: 17px;
    /*margin-top: 15px;*/
    height: 54px;
    width: 100%;
}

.apply-form select {
    -webkit-appearance: none;
}

.apply-form textarea {
    border-radius: 40px;
    border: solid 1px #c6d2d7;
}

.btn:focus {
    outline: none !important;
}

.schedule .btn-pay {
    transition: .5s;
    height: 33px;
    margin-right: 70px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
    font-size: 15px;
}

#trainings-apply .container,
#events-apply .container {
    padding-bottom: 70px;
    padding-top: 30px;
    background-image: url(/front/icons/background.svg);
    background-size: cover;
}

#camps-reviews .container {
    padding-bottom: 70px;
    padding-top: 70px;
    background-image: url(/front/icons/background2.svg);
    background-size: cover;
}

@media (min-width: 992px) {
    #trainings-info .container {
        background-size: contain;
        background: url(/front/icons/background.svg) no-repeat;
        background-position-y: 100px;
        background-position-x: 290px;
    }

    .calendar-left {
        margin-right: 10px;
    }

    .calendar-right {
        margin-left: 10px;
    }
}

@media (max-width: 852px) {
    .schedule .panel-heading h4 {
        padding-left: 0;
        font-size: 18px;
        line-height: 20px;
    }

    .schedule .circle {
        margin-right: 0;
    }

    .schedule .btn-pay {
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#trainings-schedule .container {
    padding: 0 10px;
}

@media (max-width: 991px) {
    #trainings-schedule .container {
        width: 100%;
    }

    .calendar-right {
        margin-top: 20px;
    }
}

@media (max-width: 950px) {
    .schedule .schedule-cell {
        height: 70px;
    }

    .schedule .schedule-cell:not(:first-child) {
        font-size: 11px;
    }

    .schedule .schedule-cell:first-child h4 {
        font-size: 15px;
    }

    .schedule .schedule-cell:first-child span {
        font-size: 12px;
    }

    .icon.snow {
        height: 18px;
        min-width: 20px;
    }
    .icon.sun {
        height: 20px;
        min-width: 20px;
    }

    .schedule .schedule-cell:first-child {
        padding-left: 10px;
    }
}

@media (max-width: 781px) {
    .schedule .schedule-cell:not(:first-child) {
        font-size: 10px;
    }

    .schedule .schedule-cell {
        width: 11%;
    }

    .schedule .schedule-cell:first-child {
        width: 23%;
    }
}

@media (max-width: 651px) {
    #trainings-schedule .container {
        padding: 0;
    }

    #trainings-schedule>.container>.row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .schedule .schedule-cell .location-text {
        top: 0;
    }

    .schedule .schedule-cell:first-child h4 {
        display: inline;
    }

    .schedule-weekdays>div:first-of-type {
        display: none;
    }

    .schedule .schedule-cell:first-child {
        width: 100%;
    }

    .schedule-weekdays>div:not(:first-of-type),
    .schedule .schedule-cell {
        width: 14.285714285714286%;
    }

    .schedule .schedule-cell {
        height: 45px;
    }
}

.schedule .btn-pay img {
    height: 14px;
    position: relative;
    bottom: 2px;
}

@media (max-width: 486px) {
    .schedule .schedule-cell:not(:first-child) {
        font-size: 8px;
    }

    .schedule .circle {
        display: none;
    }

    .schedule .btn-pay {
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
        height: 26px;
    }

    .schedule .btn-pay:first-child {
        display: none;
    }

    .schedule .btn-pay img {
        height: 10px;
    }

    .schedule .panel-heading h4 {
        font-size: 16px;
    }
}

@media (max-width: 394px) {
    .schedule .schedule-cell:not(:first-child) {
        font-size: 6px;
    }
}

section#trainings-header {
    background: url(/image/training-bg-2.jpg);
    background-size: cover;
}

section#camps-header {
    background: url(/image/camps-bg-2.jpg);
    background-size: cover;
}

section#coaches {
    padding-bottom: 50px;
}

section#trainings-schedule {
    padding-bottom: 70px;
}

section#trainings-info {
    padding: 40px 0;
}

.popover-content hr {
    margin: 5px 0;
}

.schedule-cell div:hover {
    cursor: pointer;
}

.flex-form {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.flex-form label {
    margin-bottom: 0;
    font-weight: normal;
}

.flex-form label:hover {
    cursor: pointer;
}

.flex-form label input[type=radio] {
    margin-right: 6px;
}

.training-day {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.training-day label {
    margin-bottom: 0;
    font-weight:normal;
}

.training-day .coach-text {
    font-size: 12px;
    color: #989DA3;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.training-day .dates {
    color: #989DA3;
    margin-left: 10px;
}

.training-day .time {
    font-size: 14px;
    color: #989DA3;
}

.training-day label .location-info {
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.training-day label .location-info .icon {
    margin-right: 5px;
    bottom: 1px;
    position: relative;
}

.training-day label .location-info .icon.sun {
    height: 21px;
    min-width: 21px;
}

.training-day label .location-info .icon.snow {
    height: 19px;
    min-width: 21px;
}

.training-day label:hover {
    cursor: pointer;
}

.training-day label input[type=checkbox] {
    margin-right: 5px;
}

.calendar {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.calendar>div {
    width: 100%;
    max-width: 450px;
}

.calendar-row {
    display: flex;
    justify-content: space-around;
}

.calendar-row:last-child>div {
    border-bottom: 1px solid rgb(18, 40, 93);
}

.calendar-row.calendar-week-days {
    background: rgba(0,0,0,.2);
}

.calendar-row.calendar-month {
    border-left: 1px solid rgb(18, 40, 93);
    border-top: 1px solid rgb(18, 40, 93);
    border-right: 1px solid rgb(18, 40, 93);
    height: 40px;
    display: flex;
    align-items: center;
}

.calendar-row>div {
    width: 14.258%;
    border-left: 1px solid rgb(18, 40, 93);
    border-top: 1px solid rgb(18, 40, 93);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-row>div:last-child {
    border-right: 1px solid rgb(18, 40, 93);
}

#camps-reviews .author {
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    color: #12285d;
    text-align: center;
}

#camps-reviews .description {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    color: #a6a6a6;
}

#camps-reviews .review {
    margin-top: 36px;
    /*font-size: 15px;*/
    font-weight: 300;
    line-height: 26px;
    /*text-align: center;*/
    color: #12285d;

    text-align: left;
    background: #fafafa;
    padding: 10px 20px;
    font-size: 13px;
}

#camps-reviews .carousel-circle,
#past-camps-carousel .carousel-circle {
    min-width: 33px;
    height: 33px;
    background-color: #1b1d7d;
    border-radius: 50px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
}

#camps-reviews .carousel-circle .arrow,
#past-camps-carousel .carousel-circle .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    position: relative;
    top: 9px;
}

#camps-reviews .carousel-circle .arrow.left,
#past-camps-carousel .carousel-circle .arrow.left {
    left: 2px;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
}

#camps-reviews .carousel-circle .arrow.right,
#past-camps-carousel .carousel-circle .arrow.right {
    right: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#camps-reviews #review-carousel {
    display: flex;
    align-items: center;
}

#camps-reviews .carousel-inner {
    padding: 0 10px;
}

.camp-block {
    display: flex;
}

.camp-block>div {
    flex: 1;
    padding: 50px;
    background-color: #fafafa;
}

.camp-block:nth-child(odd) {
    flex-direction: row-reverse;
}

.camp-block .title {
    color: #e4462d;
    font-size: 29px;
    line-height: 36px;
}

.camp-block .dates {
    font-weight: 600;
    margin: 15px 0;
}

.camp-block .dates>span {
    font-weight: normal;
}

.camp-block .description {

}

.camp-block .btn {
    padding: 15px 40px;
    margin-top: 25px;
}

.camp-block .btn:hover {
    background-color: #e4462d;
    opacity: 1;
}

@media (max-width: 768px) {
    .camp-block:nth-child(odd),
    .camp-block {
        flex-direction: column-reverse;
    }
}

#camps-past {
    background: url(/front/icons/map.png);
    background-size: cover;
}

#past-camps-carousel .item a {
    color: #e4462d !important;
    line-height: 36px;
    font-size: 21px;
    text-decoration: underline;
}

#past-camps-carousel .item .date {
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
}

#past-camps-carousel .item .date span {
    font-weight: normal;
}

.camps-info-block {
    /*display: flex;*/
    padding: 0 15px;
}

.camps-info-block>div {
    display: flex;
    flex-direction: column;
    padding: 40px 15px 0;
}

.camps-info-block img {
    height: 87px;
}

.camps-info-block h5 {
    margin: 20px 0;
    font-size: 16px;
    line-height: 26px;
}

.camps-info-block p {
    color: #535353;
    font-size: 15px;
    line-height: 20px;
}

@media (max-width: 991px) {
    .camps-info-block h5 {
        font-size: 15px;
        word-wrap: break-word;
    }

    .camps-info-block p {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .camps-info-block {
        display: flex;
        flex-direction: column;
    }
}

.camps-info-text {
    background: #fafafa;
    padding: 60px 50px;
}

.past-camps-block {
    background: #fafafa;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.past-camp-title {
    background: white;
    padding: 30px 115px 30px 50px;
}

@media (max-width: 767px) {
    .camps-info-text {
        padding: 40px 25px;
    }

    .past-camps-block {
        padding: 50px 25px;
    }

    #camps-info .col-sm-8 {
        padding: 0;
    }

    .camp-block>div {
        padding: 50px 25px;
    }

    .camp-block>div.camp-img {
        padding: 30%;
    }

    .past-camp-title {
        padding: 30px 115px 30px 20px;
    }
}

#sponsors {
    padding-bottom: 70px;
}

.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fafafa;
    padding: 40px 0;
}

.news-category-selectors {
    float: right;
    margin-top: 10px;
}

.news-category-selectors ul {
    list-style: none;
    padding-left: 0;
}

.news-category-selectors ul li {
    display: inline-block;
}

.news-category-selectors ul li:not(:first-of-type) {
    margin-left: 30px;
}

.news-category-selectors a {
    font-size: 16px;
    line-height: 21px;
    color: #282979 !important;
    text-decoration: underline;
}

.news-category-selectors ul li.active a {
    color: #e4462d !important;
    border-radius: 25px;
    background-color: #fafafa;
    border: solid 3px #c6d2d7;
    text-decoration: none;
    padding: 10px 25px;
}

@media (max-width: 767px) {
    .news-category-selectors {
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .news-category-selectors ul li:not(:first-of-type) {
        margin-left: 15px;
    }
}

@media (max-width: 510px) {
    .news-category-selectors ul li {
        margin-bottom: 20px;
        margin-left: 0 !important;
        display: block;
    }

    .news-category-selectors ul li:not(.active) {
        margin-left: 25px !important;
    }
}

.post-block {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 10px;
}

.post-block:first-of-type {
    padding-left: 0;
}

.post-block:last-of-type {
    padding-right: 0;
}

.post-block img {
    height: 170px;
    width: 100%;
}

.post-block span {
    color: #2a2d34 !important;
    font-size: 14px;
    font-family: GothamPro, sans-serif;
    font-weight: bold;
    display: block;
    margin: 15px 0;
}

.post-block .post-title {
    font-size: 15px;
    line-height: 25px;
    color: #1b1d7d !important;
}

.news-list .tab-pane.active {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .post-block {
        flex-basis: 50%;
        padding: 0;
    }

    .post-block:nth-last-of-type(even) {
        padding-right: 10px;
    }

    .post-block:nth-last-of-type(odd) {
        padding-left: 10px;
    }
}

@media (max-width: 500px) {
    .post-block {
        flex-basis: 100%;
        padding: 0 !important;
    }

    .post-block:not(:last-child) {
        margin-bottom: 40px;
    }

    .post-block img {
        height: auto;
    }
}

.sponsors a {
    max-width: 18%;
}

.sponsors a img {
    width: 100%;
}

@media (max-width: 767px) {
    .sponsors .orange-divider {
        display: none;
    }
}

.about {
    background-color: #fafafa;
    padding: 40px 0;
}

.about .text-block {
    padding: 0 30px;
}

#home-about .vk {
    padding: 0 15px 0 0;
}

#vk_groups {
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 991px) {
    #home-about .vk {
        padding: 0;
        margin-bottom: 20px;
    }

    .about {
        padding: 30px 20px;
    }

    .about .text-block {
        margin-top: 20px;
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .about {
        margin-left: 0;
    }
}

#home-services .service {
    padding: 25px;
}

#home-services .service h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 15px;
}

#home-services .service a.btn {
    padding: 10px 20px;
    visibility: hidden;
    margin-top: 15px;
}

#home-services .service:hover {
    box-shadow: 0 4px 21px 0 rgba(0, 0, 0, 0.17);
}

#home-services .service:hover a.btn {
    visibility: visible;
}

#home-info .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-info .row>div {
    display: inline-block;
}

#home-info .row .btn.btn-warning {
    padding: 10px 30px;
}

#home-info .icon.logo {
    height: 120px;
    min-width: 100px;
    display: inline-block;
    margin-right: 30px;
}

@media (max-width: 1199px) {
    .hidden-xm {
        display: none !important;
    }

    #home-info .icon.logo {
        margin-right: 0;
    }
}

#home-slider .carousel-inner .item.active,
#home-slider .carousel-inner .item.right,
#home-slider .carousel-inner .item.left {
    display: flex;
    min-height: 400px;
}

#home-slider a.btn-warning {
    padding: 10px 20px;
}

#home-slider .carousel-indicators li {
    height: 15px;
    width: 15px;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 0;
    }
}

.post-content {
    font-size: 16px;
}

.post-content a {
    text-decoration: underline !important;
}

.coach-info h4 {
    margin-bottom: 20px;
}

.coach-info hr {
    margin-bottom: 40px;
}

.trainings-icons {
    padding: 0 40px;
}

.coach-photos img {
    margin-left: 30px;
    width: 100%;
}

.coach-photos img:not(:first-child) {
    margin-top: 15px;
}

@media (max-width: 991px) {
    .trainings-icons {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .coach-photos img {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #review-carousel .carousel-circle {
        position: absolute;
        top: 0;
        margin-right: 0;
        z-index: 10;
    }

    #review-carousel .carousel-circle.left {
        left: 2px;
    }

    #review-carousel .carousel-circle.right {
        right: 2px;
    }

    #trainings-info .header {
        font-size: 27px;
    }
}

.post-content img {
    max-width: 100%;
    height: auto;
}

#home-slider #slider .carousel-inner .col-md-4 .anons {
    color: white;
    line-height: 22px;
    padding: 10px 0 20px;
}
#home-slider #slider .carousel-inner .col-md-4 h2 {
    color: #a8c6e9;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    margin-top: 0;
}

#home-slider #slider .carousel-inner .col-md-4 {
    background: #111580;
    padding: 30px 0 30px 30px;
}

@media (max-width: 991px) {
    #home-slider #slider .carousel-inner .col-md-4 {
        padding: 30px;
    }
}

#home-slider #slider .carousel-inner .col-md-4:after {
    content: '';
    width: 70px;
    height: calc(100% + 60px);
    bottom: 30px;
    background: url(/front/icons/ellipse.svg);
    display: block;
    position: relative;
    left: calc(100% - 1px);
    z-index: 10;
    background-size: cover;
}

#trainings-groups .group-list {
    display: flex;
    /*flex-wrap: wrap;*/
}

#trainings-groups .group {
    border: 1px solid #c6d2d7;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 15px;
    width: 100%;
}

#training-rio-is .rio-is-list {
    display: flex;
}

#training-rio-is .rio-is-el {
    font-size:20px;
    font-weight: 500;
    padding: 10px 15px;
    flex-grow: 1;
    flex-basis: 33%;
    margin: 20px 35px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    max-width: 100%;
}

#training-rio-is .rio-is-list:nth-of-type(odd) .rio-is-el:nth-of-type(odd),
#training-rio-is .rio-is-list:nth-of-type(even) .rio-is-el:nth-of-type(even) {
    color: #2d3077;
}

#training-rio-is .rio-is-list:nth-of-type(odd) .rio-is-el:nth-of-type(odd),
#training-rio-is .rio-is-list:nth-of-type(even) .rio-is-el:nth-of-type(even) {
    color: #e20713;
}

#trainings-slider {
    padding: 0 50px 50px;
}

#trainings-slider .training-slider-image {
    height: 300px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1100px) {
    #trainings-slider .training-slider-image {
        height: 250px;
    }
}

@media (max-width: 900px) {
    #trainings-slider .training-slider-image {
        height: 220px;
    }
}

@media (max-width: 768px) {
    #trainings-slider {
        padding: 50px 10px 0;
    }

    #trainings-slider .training-slider-image {
        height: 200px;
    }

    #trainings-groups .group-list {
        flex-wrap: wrap;
    }

    #trainings-groups .group {
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    #training-rio-is .rio-is-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .hidden-cc {
        display: none !important;
    }
}

.camp-application-btn {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    #trainings-apply .apply-btn, #trainings-apply .btn-primary {
        margin-top: 10px !important;
    }
}