.pusher>.masthead.segment .main-container>.three.column {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 1200px) {
    .pusher>.masthead.segment .main-container {
        width: calc(1200px + 2rem)!important;
        padding-top: 4.5rem !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .pusher>.masthead.segment .main-container {
        width: calc(1135px + 2rem)!important;
        padding-top: 4.5rem !important;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .pusher>.masthead.segment .main-container {
        width: calc(900px + 2rem)!important;
        padding-top: 5rem !important;
    }
}

@media only screen and (max-width: 767px) and (min-width: 700px) {
    .pusher>.masthead.segment .main-container {
        padding-top: 5rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .pusher>.masthead.segment .main-container>.ten.column {
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 699px) {
    .pusher>.masthead.segment .main-container {
        padding-top: 4.5rem !important;
    }
}

@media only screen and (max-width: 400px) {
    .training.calculator {
        padding: .6rem !important;
    }
}

.pusher>.masthead.segment .main-container>.ten.column .secondary.pointing.menu.four {
    padding-top: 1em;
    margin-bottom: 3em;
}

.pusher>.masthead.segment .topmenu .container .item img {
    margin: 0 .35714286em 0 0;
    height: 1.2em;
    width: 1.3em;
}

body>.sidebar.accordion.menu a.item img {
    float: right;
    margin: 0 0 0 .5em;
    display: inline-block;
    width: 1.18em !important;
}

.hidden.menu {
    display: none;
}

.coaches.cards .card .image {
    max-height: 400px;
    overflow: hidden;
}

.topmenu .icon {
    height: 1.3em;
}

.masthead.segment {
    min-height: 700px;
    padding: 0em !important;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.6em;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 5em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 4em 0em !important;
}

.topmenu.menu .toc.item {
    display: none !important;
}

@media only screen and (max-width: 700px) {
    .topmenu.menu .item,
    .topmenu.menu .menu {
        display: none !important;
    }
    .topmenu.menu .toc.item {
        display: block !important;
    }
    .topmenu.menu .toc.item:before {
            background: none;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
    border-left: none;
}

.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > .footer {
    flex: 1;
    height: 129px;
}

.segments.package:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.event-header, .event-header:after {
    -ms-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    background-color: #000000;
    background-image: url(/image/background.jpg) !important;
}
.form.feedback .field label {
    text-align: left;
}

.portfolio-gallery a:hover,
.locations-season .images .image:hover {
    opacity: 0.4;
}

#portfolio .chevron.left, #portfolio .chevron.right {
    cursor: pointer;
    margin: 0;
}

.event-header .logo {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
    margin: auto;
}

.nwtour-menu .item.active {
    margin-bottom: 0 !important;
}

.ui.menu.six.item .item {
    line-height: 1.5;
}
.transparent {
    opacity: .9;
    padding-top: 0 !important;
}

.nwtour-menu {
    background: white !important;
    border-radius: 5px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.ui.item.menu.nwtour-menu .item {
    margin-right: 1px !important;
    margin-left: 1px !important;
}

.pusher {
    background: url('/image/wov.png') !important;
    background-color: #FFF !important;
    padding-bottom: 10px;
}

.pusher .container.text.transparent.segment {
    margin-bottom: 1rem;
}

.sidebar-block {
    padding-bottom: 2rem !important;
}

.about-list li {
    padding-top: 1rem !important;
}
.about-list>.item {
    font-weight: 700;
    font-size: 1.2em;
}
.about-list .list {
    font-weight: normal;
    font-size: .9em;
}
.about-list>.item {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.coach-profile {
    overflow: hidden;
}

.coach-profile>img {
    margin-top: calc(2rem - .14285em);
    margin-bottom: 0;
}

.coach-profile .images a:hover {
    opacity: .4;
}

.sidebar-block .segment:not(.elagin) a img {
    height: 110px;
    width:auto;
}

.sidebar-block .segment:not(.elagin) img {
    padding-top: 10px !important;
    width:110px;
    height:auto;
}

.partners img {
     padding-top: 1em;
}

.post .header.sub.date {
    font-size: .85rem !important;
}

.post .header.sub:not(.date) {
    padding-top: .8em !important;
}

.about-nwtour span {
    font-weight: 700;
    font-size: 1.2em;
}

.sidebar-block .elagin.card {
    width: 100%;
}

.sidebar-block .elagin .header {
    padding-bottom: 0;
}

.sidebar-block .elagin .extra.content .list {
    padding-top: .5em
}

.sidebar-block .elagin .extra.content .list .icon {
    display: inline-block;
}

.news {
    padding-bottom: 2rem !important;
}

.index-news h4.header:first-of-type {
    margin-top: 0;
}

.coaches .item {
    margin-bottom: .5em;
}

.nwtour-info .description,
.post .header.sub:not(.date) {
    font-family: Tahoma;
}
.menu {
    font-family: 'Roboto slab' !important;
}

#map {
    display: none;
    max-width:100%;
    height:250px;
    margin-top: 1em;
}

.training h2.header,
.index-segment h2.header,
.news h2.header,
.nwtour-segment h2.header {
    margin: 1rem 0 1rem! important;
}

.index-segment,
.news,
.training,
.nwtour-segment,
.coach-profile {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.slider-segment {
    padding: 0 !important;
    background: white !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.slider-segment .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    background: white;
}

.slider-segment .attached.label{
    background: none;
    font-size: 15px;
    padding: 1em;
}

.slider-segment a.header {
    color: white !important;
    opacity: 1 !important;
    font-size: 2.4em !important;
}

.slider-segment a.header:hover {
    text-decoration: underline;
}

.slider-segment .items .item.active {
    background: rgba(0,0,0,.05);
}
.slider-segment .items .item:hover {
    cursor: pointer;
}

.slider .icon {
    cursor: pointer;
    color: white;
    z-index: 2;
    margin: 0 !important;
    font-size: 3em;
    position: absolute;
    top: 45%;
}
.slider .left.icon {
    left: .3em;
}
.slider .right.icon {
    right: .3em;
}

.slider .owl-carousel .slider-block {
    max-height: 300px;
    max-width: 700px;
    margin: auto;
}

.slider .owl-carousel .slider-block .label {
    padding-left:4em;
    padding-right:4em;
    padding-bottom: 2em;
}

.slider:hover .chevron.right,
.slider:hover .chevron.left {
    display: inline-block;
}

.slider .chevron.right,
.slider .chevron.left {
    display: none;
}

.content-segment {
    padding-left: 2em !important;
    padding-right: 2em !important;
    padding-top: 2em !important;
}

.content-segment>.ui.image {
    margin-bottom: 1em;
}

.vk-block {
    padding: 0 !important;
    background: none !important;
    border: none !important;
}

.label.male {
    color: white !important;
    background: #2185D0!important;
}

.label.female {
    color: white !important;
    background: #e03997!important;
}

.label.mix {
    color: white !important;
    background: #00B5AD!important;
}

.nwtour-segment .tiny.horizontal.labels {
    margin-top: 2em;
}

.nwtour-segment .nwtour-info span {
    font-size: .8em;
    line-height: 1em;
    color: rgba(0,0,0,.6);
}

.ui.slim.table td {
    padding: .3em .7em;
}

.profile-show .header {
    margin-bottom: 0 !important;
}

.profile-show span {
    font-size: .8em;
    line-height: 1em;
    color: rgba(0,0,0,.6);
}

.small.menu.pagination {
    margin-top: 1em;
}

.profile-form .field label {
    text-align: left;
}

.auth-segment {
    padding: 3em 0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.auth-segment form {
    margin-top: 1em;
}

.nwtour-segment .tabular div.item:hover {
    cursor: pointer;
}

.segment.training-group {
    padding: 3em 0 !important;
}

.segment.training-group table thead th {
    font-size: .9em;
}

.segment.training-group table td {
    padding: 0;
}

.segment.training-group table td .single-training {
    font-size: .9em;
    padding: .5em 0!important;
    /*color: #fff;*/
    /*opacity: .85;*/
}

.segment.training-group table td .single-training.orange {
    background-color: #F2711C;
}

.segment.training-group table td .single-training.red {
    background-color: #DB2828;
}

.segment.training-group table td .single-training.blue {
    background-color: #2185D0;
}

.segment.training-group table td .single-training.green {
    background-color: #21BA45;
}

.segment.training-group table td .single-training.yellow {
    background-color: #FBBD08;
}

.segment.training-group table td .single-training.purple {
    background-color: #A333C8;
}

.segment.training-group table td .single-training.teal {
    background-color: #00B5AD;
}

.segment.training-group table td .single-training:hover {
    cursor: pointer;
}

.training-group .ui.celled.definition.table thead:not(.full-width) th:first-child {
    box-shadow: -1px -2px 0 1px #FFF;
}

.fixed-panel {
    position: fixed;
    bottom: 40%;
    right: -98px;
    z-index: 3;
    transform: rotate(-90deg);
}

.modal.panel-modal .message {
    text-align: center;
}

.training .training-info {
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding-top: 20px;
    padding-bottom: 42px;
}

.training .training-info .accordion {
    margin-bottom: 2em;
}

.training .training-info .accordion .content {
    padding-left: 2em !important;
}

.training .training-info a {
    font-size: 1.2em;
}

.training .training-group .header {
    line-height: 2em;
    padding-left: .5em
}

.training h3.header.centered {
    margin-top: 2em;margin-bottom: 0;
}

.training .training-group .header a {
    margin-bottom:1rem;
}

.training #coaches {
    margin-top: 42px;
}

.footer .copyright {
    padding-top: 1em;
}
.vk svg, .fb svg, .in svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}
.vk:hover svg,
.fb:hover svg,
.in:hover svg {
    fill: #ffd400;
    cursor: pointer;
}
.vk, .fb, .in {
    display: inline-block;
    margin: 0 5px;
}

.training.calculator .form.big .two.fields>.field.required {
    padding: 0;
}

.training.calculator .form.big .two.fields .field label span {
    color: #a9a9a9;
    font-size: .85em;
}

.training.calculator .form.big .two.fields:first-of-type {
    padding-left:1em !important;
    padding-right: 1em !important;
}

.training.calculator .accordion {
    font-size: .7em;
}

.training.calculator .accordion p {
    font-weight: 600;
}

.training.calculator .accordion li {
    line-height: 2em;
}

.fade-transition {
    transition: all .6s ease;
}

.fade-enter, .fade-leave {
    opacity: 0;
}

.ui.header .post-date {
    margin-right: .6rem;
    float: left;
    font-weight: 400;
    font-size: .85rem;
    color: #F2711C;
}

.ui.header .post-link {
    color: black;
}

.ui.header .post-link:hover {
    color: #F2711C;
}

.ui.header.post {
    margin-top: 1rem;
}

.ui.calendar .ui.table.day {
    min-width: auto;
}

.location-icon {
    width: 20px;
    display: inline !important;
}

td.location-td {
    font-size:.8em !important;
}

td.location-td:hover {
    cursor: pointer;
}