<template>
    <clip-loader :size="size" :style="customStyle"></clip-loader>
</template>

<script>
    import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'

    export default {
        components: {
            ClipLoader
        },
        props: {
            size: {
                default: '60px'
            },
            customStyle: {
                default: 'margin-top: 40px;'
            }
        }
    }
</script>