<template>
    <div>
        <loader v-show="loading"></loader>
        <div class="form-horizontal" v-show="!loading">
            <fieldset>
                <div class="form-group">
                    <label>Получатели</label>
                    <user-select :multiple="true" v-model="users"></user-select>
                </div>
                <div class="form-group">
                    <label>Тема письма</label>
                    <input class="form-control" v-model="title">
                </div>
                <div class="form-group">
                    <label>Текст письма</label>
                    <quill-editor v-model="text"
                                  :options="editorOption">
                    </quill-editor>
                </div>
                <div v-if="message" class="alert alert-success text-center" style="margin-left: -15px; margin-right: -15px;">
                    {{ message }}
                </div>
                <div class="pull-right btn-group">
                    <button class="btn btn-primary" :disabled="disabled" @click="send">Отправить</button>
                </div>
            </fieldset>
        </div>
    </div>
</template>

<script>
    import {map} from 'lodash'
    import UserSelect from '../common/UserSelect'
    import Loader from '../common/Loader'
    import { quillEditor } from 'vue-quill-editor'
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'

    export default {
        components: {
            UserSelect,
            quillEditor,
            Loader
        },
        computed: {
            disabled() {
                return !this.title || !this.text || !this.users.length;
            }
        },
        data() {
            return {
                loading: false,
                users: [],
                title: '',
                text: '',
                editorOption: {},
                message: null
            }
        },
        methods: {
            send() {
                this.message = null;
                this.loading = true;
                this.$http.post('/api/admin/notifications/email', {
                        title: this.title,
                        text: this.text,
                        user_ids: map(this.users, u => u.id)
                    })
                    .then(response => {
                        if (response.body.success) {
                            this.message = 'Сообщения отправлены';
                            this.users = [];
                            this.title = '';
                            this.text = '';
                        }
                    })
                    .finally(() => this.loading = false)
            }
        }
    }
</script>