<template>
    <div>
        <loader v-show="loading"></loader>
        <div class="form-horizontal" v-show="!loading">
            <h1 style="color: red;margin: 20px -15px;">
                Баланс:
                <template v-if="!balance_loading">{{ balance }}</template>
                <loader v-else size="20px" customStyle="text-align: left;display: inline;"></loader>
            </h1>
            <fieldset>
                <div class="form-group">
                    <label>Получатели <span style="font-size: 10px;color: #a29e9e;">(выводятся только клиенты с указанным телефоном)</span></label>
                    <user-select :multiple="true" :filters="filters" v-model="users"></user-select>
                </div>
                <div class="form-group">
                    <label>Текст смс</label>
                    <input class="form-control" v-model="text">
                </div>
                <div v-if="message" class="alert alert-success text-center" style="margin-left: -15px; margin-right: -15px;">
                    {{ message }}
                </div>
                <div class="pull-right btn-group">
                    <button class="btn btn-primary" :disabled="disabled" @click="send">Отправить</button>
                </div>
            </fieldset>
        </div>
    </div>
</template>

<script>
    import {map} from 'lodash'
    import UserSelect from '../common/UserSelect'
    import Loader from '../common/Loader'

    export default {
        components: {
            UserSelect,
            Loader
        },
        computed: {
            disabled() {
                return !this.text || !this.users.length;
            }
        },
        data() {
            return {
                loading: false,
                balance_loading: false,
                users: [],
                text: '',
                message: null,
                balance: null,
                filters: {
                    has_phone: 1
                }
            }
        },
        methods: {
            send() {
                this.message = null;
                this.loading = true;
                this.$http.post('/api/admin/notifications/sms', {
                        text: this.text,
                        user_ids: map(this.users, u => u.id)
                    })
                    .then(response => {
                        if (response.body.success) {
                            this.message = 'Сообщения отправлены';
                            this.users = [];
                            this.text = '';
                            setTimeout(() => {
                                this.loadBalance()
                            }, 3000)
                        }
                    })
                    .finally(() => this.loading = false)
            },
            loadBalance() {
                this.balance_loading = true;
                this.$http.get('/api/admin/notifications/sms/balance')
                    .then(response => {
                        this.balance = response.body.balance
                    })
                    .finally(() => this.balance_loading = false)
            }
        },
        mounted() {
            this.loadBalance();
        }
    }
</script>