<template>
    <div>
    <!--<div class="col-md-10 col-md-offset-1">-->
        <loader v-show="loading"></loader>

        <template v-if="!loading && tour">
            <h2>Редактирование этапа: <small>{{ tour.title }}</small></h2>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li :class="{active: $route.path === `/admin/tours/${tour_id}`}">
                            <router-link :to="`/admin/tours/${tour_id}`">Информация</router-link>
                        </li>

                        <li v-for="tournament in tour.tournaments" :class="{active: $route.path === `/admin/tours/${tour_id}/tournament/${tournament.id}`}">
                            <router-link class="item" :to="`/admin/tours/${tour_id}/tournament/${tournament.id}`">
                                {{ tournament.category.fullname }}
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <router-view v-model="tour" ></router-view>
                </div>
            </div>
        </template>

        <div class="alert alert-danger text-center" v-if="error" v-text="error"></div>
    </div>
</template>

<script>
    import Loader from '../../components/common/Loader'

    export default {
        components: {
            Loader
        },
        props: {
            tour_id: {}
        },
        watch: {
            tour_id() {
                this.load();
            }
        },
        data() {
            return {
                tour: null,
                loading: false,
                error: null
            }
        },
        methods: {
            load() {
                this.loading = true;
                this.error = null;
                this.$http.get(`/api/admin/tours/${this.tour_id}`)
                    .then(response => {
                        this.tour = response.body.tour;
                    }, response => {
                        if (response.status === 404) {
                            this.error = 'Этап не найден'
                        } else {
                            this.error = 'Произошла ошибка'
                        }
                    })
                    .finally(() => this.loading = false)
            },
        },
        mounted() {
            this.load();
        }
    }
</script>