<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <select v-model="filters.year" class="form-control" :disabled="loading">
                        <option v-for="year in years">{{ year }}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select v-model="filters.status" class="form-control" :disabled="loading">
                        <option value="">Все</option>
                        <option value="future">Будущие</option>
                        <option value="past">Прошедшие</option>
                        <option value="created">Созданные</option>
                        <option value="anounsed">Анонсированные</option>
                        <option value="opened">Открытые</option>
                        <option value="closed">Закрытые</option>
                        <option value="finished">Проведенные</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <div class="btn-group pull-right">
                        <router-link to="/admin/tours/ratings" class="btn btn-default ">Рейтинговые очки</router-link>
                        <router-link to="/admin/tours/create" class="btn btn-info">Создать этап</router-link>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <loader v-show="loading"></loader>
            <table class="table table-middle table-hover" v-show="!loading">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Статус</th>
                        <th>Категории</th>
                        <th>Даты</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(tour, index) in tours">
                        <td>
                            <span class="text-middle text-nowrap">
                                 <div class="text-muted" style="display: inline">{{ tour.title }}</div>
                            </span>
                        </td>
                        <td>
                            <span class="text-middle" :class="`text-${tour.statusClass}`">
                                {{ tour.statusText }}
                            </span>
                        </td>
                        <td>
                            <span class="text-muted" style="font-size: 13px;">
                                {{ categories(tour) }}
                            </span>
                        </td>
                        <td>
                            <span class="text-middle">
                                {{ tour.localeDate }}
                            </span>
                        </td>
                        <td>
                            <div role="group" class="btn-group pull-right">
                                <router-link :to="`/admin/tours/${tour.id}`" class="btn btn-default btn-xs">изменить</router-link>
                                <button class="btn btn-xs btn-warning" @click="destroy(tour.id, index)">
                                    удалить
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <paginate v-if="!loading && tours.length && pageCount > 1"
                      style="margin-top: 15px;"
                      :container-class="'pagination'"
                      :page-range="7"
                      :page-count="pageCount"
                      :prev-text="'←'"
                      :next-text="'→'"
                      :force-page="currentPage - 1"
                      :initial-page="currentPage - 1"
                      :click-handler="load"
            ></paginate>
        </div>
    </div>
</template>

<script>
    import Paginate from 'vuejs-paginate'
    import Loader from '../../components/common/Loader'
    import moment from 'moment'

    export default {
        components: {
            Paginate,
            Loader
        },
        watch: {
            'filters.status'() {
                this.load()
            },
            'filters.year'() {
                this.load()
            }
        },
        computed: {
            years() {
                let years = [],
                    current_year = parseInt(moment().format('YYYY')),
                    year = 2016;

                console.log(year, current_year);

                while (year <= current_year + 1) {
                    years.push(year++);
                }

                return years.reverse();
            }
        },
        data() {
            return {
                tours: [],
                filters: {
                    status: '',
                    year: moment().format('YYYY')
                },
                total: null,
                currentPage: null,
                pageCount: null,
                loading: false,
            }
        },
        methods: {
            load(page = 1) {
                this.loading = true;
                this.$http.get('/api/admin/tours', {
                        params: {
                            limit: 30,
                            page,
                            filters: this.filters
                        }
                    })
                    .then(response => {
                        this.tours = response.body.tours.data;
                        this.total = response.body.tours.total;
                        this.currentPage = response.body.tours.current_page;
                        this.pageCount = response.body.tours.last_page;
                    })
                    .finally(() => this.loading = false)
            },
            destroy(id, index) {
                let result = confirm('Удалить турнир ' + this.tours[index].title + '?');

                if (result) {
                    this.$http.delete(`/api/admin/tours/${id}`)
                        .then(response => {
                            if (response.body.success) {
                                this.tours.splice(index, 1);
                            }
                        })
                }
            },
            categories (tour) {
                let categories = [];

                tour.tournaments.forEach(t => categories.push(t.category.fullname));

                return categories.join('/');
            }
        },
        mounted() {
            this.load();
        }
    }
</script>