<template>
    <div class="container">
        <h2>Рейтинговые очки</h2>

        <hr>

        <div class="form-group">
            <label>Категория</label>
            <tournament-category-select :multiple="false" v-model="category"></tournament-category-select>
        </div>

        <hr>

        <div v-if="category">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Место</th>
                        <th>Очки</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="r in ratings[category.id]">
                        <td>
                            <template v-if="r.start_rank === r.end_rank">
                                {{ r.start_rank }}
                            </template>
                            <template v-else>
                                {{ r.start_rank }} - {{ r.end_rank }}
                            </template>
                        </td>
                        <td>
                            {{ r.points }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import TournamentCategorySelect from '../../components/selects/TournamentCategorySelect'

    export default {
        components: {
            TournamentCategorySelect
        },
        data() {
            return {
                ratings: {},
                category: null
            }
        },
        methods: {
            load() {
                this.$http.get('/api/admin/lib/ratings')
                    .then(response => {
                        this.ratings = response.body.ratings
                    })
            }
        },
        mounted() {
            this.load();
        }
    }
</script>